:root {
  --color-primary: #e97918;
  --color-primary-2: #920039;
  --color-secondary: #272727;
  --color-tertiary: #272727;
  --color-text: #575c5a;
  --color-banyan-tree: #007a4e;
  --color-angsana: #e97918;
  --color-banyantree: #007a4e;
  --color-cassia: #f4e231;
  --color-dhawa: #8a458f;

}

@custom-media --bp-sm (min-width: 768px);
@custom-media --bp-md (min-width: 992px);
@custom-media --bp-lg (min-width: 1200px);
@custom-media --bp-xl (min-width: 1400px);

