:root {
  --button-icon: {
    content: '';
    display: block;
    background-size: contain;
    background-position: 50% 50%;
    background-color: transparent;
    width: 27px;
    height: 27px;
  }

}

.button {
  border: 0 none;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

.button--search {
  @media (--bp-md) {
    padding: 0;
  }

  &:before {
    @apply --button-icon;
    background-image: url('../img/icon-search.png');
  }
}

.button--shortcut {
  padding: 0 5px;
  text-transform: uppercase;
  line-height: 55px;
}

.button--default {
  background: var(--color-secondary);
  color: white;
  text-transform: uppercase;
  height: 42px;
  padding: 0 32px;
  font-size: 15px;
  line-height: 2.75;

  &:hover {
    background: color(var(--color-secondary) tint(20%));
    text-decoration: none;
  }
}

.button--primary {
  background-image: linear-gradient(
    0deg,
    var(--color-primary) 8%,
    var(--color-primary) 46%,
    color(var(--color-primary) tint(30%)) 54%,
    var(--color-primary) 100%
  );
  border: 2px solid var(--color-primary);
  box-shadow: 0 0 0px 2px white inset;
  line-height: 2.4;
  height: 38px;
  color: white;
  text-transform: uppercase;
  padding: 0 16px;
  font-size: 14px;
  letter-spacing: 0.025em;
  outline: none;
  cursor: pointer;
  border-radius: 99em;

  &:hover {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(
      0deg,
      color(var(--color-primary) tint(30%)) 8%,
      color(var(--color-primary) tint(30%)) 46%,
      color(var(--color-primary) tint(70%)) 53%,
      color(var(--color-primary) tint(30%)) 100%
    );
    border-color: color(var(--color-primary) tint(30%));
  }

  &[disabled] {
    background: #d4d4d4;
    border-color: #d4d4d4;
  }
}

.button--secondary {
  background-color: var(--color-primary);
  color: white;
  text-transform: uppercase;
  height: 3em;
  padding: 0 32px;
  font-size: 15px;
  line-height: 2.75;
  border-radius: 999em;

  &:hover {
    background-color: color(var(--color-primary) tint(20%));
    color: white;
    text-decoration: none;
  }

  &[disabled] {
    background: #d4d4d4;
    border-color: #d4d4d4;
  }
}

.button--text {
  background-color: var(--color-secondary);
  display: block;
  width: 100%;
  text-align: left;
  color: white;
  padding: 8px 16px 4px;
  margin: 4px 0;

  @media (--bp-md) {
    background-color: transparent;
    padding: 0;
    color: var(--color-text);
    display: inline-block;
    width: auto;
    margin: auto;
  }

  & .button__short {
    display: none;

    @media (--bp-md) {
      display: inline;

      & ~ * {
        display: none;
      }
    }
  }
}

:root {
  --button-outlined {
    border: 1px solid;
    color: var(--color-primary);
    padding: 10px 15px 10px;
    font-size: 14px;
    line-height: 1;
  }
}

.button--outlined {
  @apply --button-outlined;

  &-alt {
    @apply --button-outlined;
    color: white;

    &:hover, &:focus {
      color: white;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.button--small {
  height: 32px;
  line-height: 34px;
}

.button--icon {
  padding: 0;

  & .icon {
    margin-top: 0;
  }
}

#menuCloseButton {
  display: none;
  padding: 0;

  &:before {
    @apply --button-icon;
    background-image: url('../img/icon-close.png');
  }
}

.navigating #menuCloseButton {
  display: inline-block;
}

#menuOpenButton {
  position: relative;
  display: inline-block;
  width: 1.75em;
  height: 1.25em;
  border-top: 0.2em solid var(--color-primary);
  border-bottom: 0.2em solid var(--color-primary);
  padding: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0.33em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid var(--color-primary);
  }

  @media (--bp-md) {
    display: none;
  }
}

.navigating #menuOpenButton {
  display: none;
}

.button--dropdown {
  background: transparent;
  color: var(--color-text);
  padding: 0 20px;
  line-height: 42px;
  height: 40px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  border: 1px solid var(--color-text);

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-text);
    top: 50%;
    display: inline-block;
    right: 0.5em;
    position: absolute;
    margin-top: -0.2em;
  }
}

.button--close {
  padding: 0;

  &:before {
    content: '';
    width: 27px;
    height: 27px;
    display: block;
    background: url('../img/icon-close-an.png');
  }
}


.button--no-stroke {
  color: #666;
  padding: 10px 15px 7px;
  line-height: 16px;
  font-size: 15px;
  text-transform: none;
}

.buttons {
  & button {
    display: block;
    width: 100%;
    margin: 0 auto 10px 0;

    @media (--bp-sm) {
      display: inline-block;
      width: auto;
      margin-bottom: 0;
    }

    & + button {

      @media (--bp-sm) {
        margin-left: 5px;
      }
    }
  }
}

.btn-default.dropdown-toggle {
  border: 0 none;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid;
  border-radius: 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 200px;
  font-style: italic;
  font-size: 16px;
  line-height: 1;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: none;
  }

  & .multiselect-selected-text {
    text-align: left;
    display: inline-block;
    width: 92%;
  }

  & .caret {

  }
}

.btn-group.open .btn-default.dropdown-toggle {
  background: transparent;
  box-shadow: none
}

.dropdown-menu {
  border: 0 none;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  &>.active {
    &>a,
    &>a:focus,
    &>a:hover {
      background-color: transparent;
      color: #333;
    }
  }
}

