.icon {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: -0.25em;

  &:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
  }
}

[class*=icon--social-] {
  background-image: url('../img/sprite-social-an.png');
}

.icon--social-fb { background-position: 0 0; }
.icon--social-tw { background-position: -22px 0; }
.icon--social-yt { background-position: -44px 0; }
.icon--social-pin { background-position: -66px 0; }
.icon--social-ig { background-position: -88px 0; }
.icon--social-wei { background-position: -110px 0; }
.icon--social-g { background-position: -132px 0; }
.icon--social-yk { background-position: -154px 0; }
.icon--social-fb-i { background-position: 0 -22px; }
.icon--social-tw-i { background-position: -22px -22px; }
.icon--social-yt-i { background-position: -44px -22px; }
.icon--social-pin-i { background-position: -66px -22px; }
.icon--social-ig-i { background-position: -88px -22px; }
.icon--social-wei-i { background-position: -110px -22px; }
.icon--social-g-i { background-position: -132px -22px; }
.icon--social-yk-i { background-position: -154px -22px; }

.icon--play {
  background-image: url('../img/icon-play.png');
}

.icon--chevron-right {
  background-image: url('../img/icon-chevron-right.png');
}

.icon--search {
  background-image: url('../img/icon-search.png');
  background-size: contain;
}

.icon--backtotop {
  background-image: url('../img/icon-backtotop-an.png');

  &:before {
    width: 125px;
    height: 63px;
  }
}

.icon--home {
  background-image: url('../img/icon-home.png');
}

.icon--chat { background-image: url('../img/icon-chat.png') }
.icon--chevron-up { background-image: url('../img/icon-chevron-up.png') }

/* Room Details Icons */
[class*=icon--room-] {
  background-image: url('../img/sprite-room-details-an.png');

  &:before {
    width: 26px;
    height: 26px;
  }
}

.icon--room-cap { background-position: 0 0; }
.icon--room-bed { background-position: -26px 0; }
.icon--room-size { background-position: -52px 0; }
.icon--room-view { background-position: -78px 0; }
.icon--room-rate { background-position: -104px 0; }
.icon--room-pool { background-position: -130px 0; }
.icon--room-cap-i { background-position: 0 -26px; }
.icon--room-bed-i { background-position: -26px -26px; }
.icon--room-size-i { background-position: -52px -26px; }
.icon--room-view-i { background-position: -78px -26px; }
.icon--room-rate-i { background-position: -104px -26px; }
.icon--room-pool-i { background-position: -130px -26px; }


/* Dining Icons */
[class*=icon--dine-] {
  background-image: url('../img/sprite-dining.png');

  &:before {
    width: 22px;
    height: 22px;
  }
}

.icon--dine-hanger { background-position: 0 0; }
.icon--dine-clock { background-position: -22px 0; }
.icon--dine-fork { background-position: -44px 0; }
.icon--dine-hanger-i { background-position: 0 -22px; }
.icon--dine-clock-i { background-position: -22px -22px; }
.icon--dine-fork-i { background-position: -44px -22px; }


/* General UI Icons */
[class*=icon--ui-] {
  background-image: url('../img/sprite-ui-an.png');
}

.icon--ui-phone { background-position: 0 0; }
.icon--ui-phone2 { background-position: 0 0; }
.icon--ui-fax { background-position: -22px 0; }
.icon--ui-mail { background-position: -44px 0; }
.icon--ui-down { background-position: -88px 0; }
.icon--ui-person { background-position: -110px 0; }
.icon--ui-camera { background-position: -132px 0; }
.icon--ui-download { background-position: -154px 0; }
.icon--ui-close { background-position: -176px 0; }
.icon--ui-check { background-position: -198px 0; }
.icon--ui-dash { background-position: -220px 0; }
.icon--ui-circlearrow { background-position: -242px 0; }
.icon--ui-phone-i { background-position: 0 -22px; }
.icon--ui-person-i { background-position: 0 -22px; }
.icon--ui-phone2-i { background-position: 0 0; }
.icon--ui-fax-i { background-position: -22px -22px; }
.icon--ui-mail-i { background-position: -44px -22px; }
.icon--ui-down-i { background-position: -88px -22px; }
.icon--ui-person-i { background-position: -110 -22px; }
.icon--ui-camera-i { background-position: -132 -22px; }
.icon--ui-download-i { background-position: -154 -22px; }
.icon--ui-close-i { background-position: -176px -22px; }
.icon--ui-dash-i { background-position: -220px -22; }
.icon--ui-circlearrow-i { background-position: -242px -22px; }

[class*=icon--form-] {
  background-image: url('../img/sprite-form-elements.png');
}

.icon--form-checkbox { background-position: 0 0; }
.icon--form-checkbox-checked { background-position: -22px 0; }

[class*=icon--keypoint-] {
  background-image: url('../img/sprite-keypoints-an.png');
  width: 40px;
  height: 40px;
}

.icon--keypoint-warn { background-position: 0 0; }
.icon--keypoint-glass { background-position: -40px 0; }
.icon--keypoint-csr { background-position: -80px 0; }
.icon--keypoint-lock { background-position: -120px 0; }
.icon--keypoint-note { background-position: -160px 0; }

[class*=icon--brand-] {
  background-image: url('../img/sprite-brands.png');

  &:before {
    width: 54px;
    height: 54px;
  }
}

.icon--brand-banyan-tree { background-position: -5px 2px; }
.icon--brand-angsana { background-position: -70px 2px; }
.icon--brand-cassia { background-position: -135px 2px; }
.icon--brand-dhawa { background-position: -197px 2px; }
.icon--brand-banyan-tree-i { background-position: -5px -62px; }
.icon--brand-angsana-i { background-position: -70px -62px; }
.icon--brand-cassia-i { background-position: -135px -62px; }
.icon--brand-dhawa-i { background-position: -197px -62px; }

[class*=icon--fullbrand-] {
  background-image: url('../img/sprite-brands.png');

  &:before {
    width: 64px;
    height: 64px;
  }
}

.icon--fullbrand-banyan { background-position: 0 2px; }
.icon--fullbrand-angsana { background-position: -64px 2px; }
.icon--fullbrand-cassia { background-position: -128px 2px; }
.icon--fullbrand-dhawa { background-position: -192px 2px; }
.icon--fullbrand-banyan-i { background-position: 0 -62px; }
.icon--fullbrand-angsana-i { background-position: -64px -62px; }
.icon--fullbrand-cassia-i { background-position: -128px -62px; }
.icon--fullbrand-dhawa-i { background-position: -192px -62px; }

[class*=icon--facility-] {
  background-image: url('../img/sprite-facilities.png');
  width: 78px;
  height: 78px;
  margin-top: 0;
}

.icon--facility-roundtable { background-position: 0 0; }
.icon--facility-classroom { background-position: -78px 0; }
.icon--facility-theatre { background-position: -156px  0; }
.icon--facility-ushape { background-position: -234px 0; }
.icon--facility-boardroom { background-position:  -312px 0; }
.icon--facility-cocktail { background-position: -390px 0; }

[class*=icon--facility-][class$=-sm] {
  background-size: 202px;
}

.icon--facility-roundtable-sm { background-position: 0 0; }
.icon--facility-classroom-sm { background-position: -34px 0; }
.icon--facility-theatre-sm { background-position: -67px  0; }
.icon--facility-ushape-sm { background-position: -101px 0; }
.icon--facility-boardroom-sm { background-position:  -134px 0; }
.icon--facility-cocktail-sm { background-position: -168px 0; }

[class*=icon--hero-] {
  background-image: url('../img/sprite-hero.png');
  width: 34px;
  height: 34px;
}

.icon--hero-time { background-position: 0 0; }
.icon--hero-temp { background-position: -34px 0; }
.icon--hero-title { background-position: -102px 0; }

.icon--amenity {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

[class*=icon--view-] {
  background-image: url('../img/sprite-view-an.png');
  background-size: 120px 60px;

  &:before {
    width: 30px;
    height: 30px;
  }
}

.icon--view-grid { background-position: 0 0; }
.icon--view-map { background-position: -30px 0; }
.icon--view-list { background-position: -60px 0; }
.icon--view-detail { background-position: -90px 0; }
.button--active .icon--view-grid { background-position: 0 -30px; }
.button--active .icon--view-map { background-position: -30px -30px; }
.button--active .icon--view-list { background-position: -60px -30px; }
.button--active .icon--view-detail { background-position: -90px -30px; }

[class*=icon--seats-] {
  background-image: url('../img/sprite-seats.png');
  background-size: 238px 34px;

  &:before {
    width: 34px;
    height: 34px;
  }
}

.icon--factoid {
  width: 80px;
  height: 80px;
}

.icon--seats-a { background-position: 0 0; }
.icon--seats-b { background-position: -34px 0; }
.icon--seats-c { background-position: -68px 0; }
.icon--seats-d { background-position: -102px 0; }
.icon--seats-e { background-position: -136px 0; }
.icon--seats-f { background-position: -170px 0; }
.icon--seats-g { background-position: -204px 0; }

.icon--motif {
  background-size: cover;

  @media (--bp-md) {
    display: none;
  }

  &:before {
    width: 34px;
    height: 34px;
  }
}

.icon--motif--md {
  background-size: cover;
  display: none;

  @media (--bp-md) {
    display: inline-block;
  }

  &:before {
    width: 34px;
    height: 34px;
  }
}

.icon--bestprice {
  background-image: url(../img/logo-bestprice-an.png);

  &:before {
    width: 120px;
    height: 40px;
  }
}

[class*=icon--gallery-] {
  position: relative;

  &:before {
    width: 22px;
    height: 22px;
    background-image: url('../img/sprite-gallery.png');
    background-size: 87px 44px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.icon--gallery-beach { &:before{ background-position: 0 0; } }
.icon--gallery-culture { &:before{ background-position: -22px 0; } }
.icon--gallery-nature { &:before{ background-position: -44px 0; } }
.icon--gallery-urban { &:before{ background-position: -66px 0; } }
.icon--gallery-beach-i { &:before{ background-position: 0 -22px; } }
.icon--gallery-culture-i { &:before{ background-position: -22px -22px; } }
.icon--gallery-nature-i { &:before{ background-position: -44px -22px; } }
.icon--gallery-urban-i { &:before{ background-position: -66px -22px; } }

.icon--vflipped { transform: scale(1, -1) }

.icon--book {
  background-image: url('../img/sprite-ui-an.png');
}
