.wi {
  line-height: 1.4;
  *padding: 15px;
  font-size: 26px;

  @media (--bp-sm) {
    color: white;
  }
}
/* openweathermap */
.owm-01d:before {content: "\f00d";}
.owm-02d:before {content: "\f002";}
.owm-03d:before {content: "\f041";}
.owm-04d:before {content: "\f013";}
.owm-09d:before {content: "\f01a";}
.owm-10d:before {content: "\f008";}
.owm-11d:before {content: "\f01e";}/*f010*/
.owm-13d:before {content: "\f01b";}
.owm-50d:before {content: "\f003";}
.owm-01n:before {content: "\f02e";}
.owm-02n:before {content: "\f086";}
.owm-03n:before {content: "\f041";}
.owm-04n:before {content: "\f013";}
.owm-09n:before {content: "\f01a";}
.owm-10n:before {content: "\f028";}
.owm-11n:before {content: "\f01e";}/*f02d*/
.owm-13n:before {content: "\f01b";}
.owm-50n:before {content: "\f04a";}
