:root {
  --slide-bound: {
    width: 90%;
    margin: auto;

    @media (--bp-sm) {
      width: 700px;
    }

    @media (--bp-md) {
      width: 900px;
    }
  }
}

.slide {
  position: relative;
  color: white;

  & h2 {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.slide__body {
  @apply --slide-bound;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;

  & h2 {
    color: white;

    &:after {
      content: none;
    }
  }
}

.slide__footer  {
  @apply --slide-bound;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  @media (--bp-sm) {
    text-align: right;
  }
}

.slide {
  &__image, &__video {
    display: block;
    background: white;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    outline: none;

    &:before {
      content: '';
      display: block;
      padding-bottom: 59%;
    }
  }

  &__video:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid green;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

.slides__detail {
  position: absolute;
  width: 40%;
  left: 51%;
  bottom: 0;
  align-items: center;
  height: 65px;
  color: white;
  font-size: 16px;
  line-height: 1;
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  outline: none;
  tranform: translateY(-50%);

  &:before {
    content: '';
    display: block;
    width: 31px;
    height: 60px;
    background-image: url('../img/sprite-slider.png');
  }
}

.slick-prev {
  left: 10px;

  @media (--bp-lg) {
    left: 2%;
  }

  &:before {
    background-position: 0 50%;
  }
}

.slick-next {
  right: 10px;

  @media (--bp-lg) {
    right: 2%;
  }

  &:before {
    background-position: 100% 50%;
  }
}

.slick-dots {
  padding: 0;
  width: 90%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;

  & li {
    list-style: none;
    display: inline-block;
    margin: 4px;
  }

  & button {
    background: transparent;
    border: 1px solid white;
    font-size: 0;
    border-radius: 999px;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    outline: none;
  }

  & .slick-active {
    & button {
      background-color: white;
    }
  }
}

.slides--inline {
  margin: 20px -15px 10px;
  max-width: 750px;
  position: relative;
  background-color: white;

  @media (--bp-sm) {
    margin-left: 0;
    margin-right: auto;
    box-shadow: 0 0 10px;
    margin-bottom: 40px;
  }

  & .slide {
    &__image, &__video {
      display: block;
      background: white;
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      outline: none;

      &:before {
        content: '';
        display: block;
        padding-bottom: 59%;
      }
    }

    &__video:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 80px solid green;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }

  & .slick-arrow {
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  & .slick-dots {
    bottom: 0;
    text-align: right;

    @media (--bp-sm) {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
      width: 100%;
      padding-right: 50%;
    }

    & li {
      @media (--bp-sm) {
        border: 1px solid #acaba9;
        cursor: pointer;
        margin-top: 14px;
        margin-bottom: 14px;
      }

      &.slick-active {
        @media (--bp-sm) {
          border-color: white;
        }
      }
    }

    & img {
      width: 63px;
    }
  }

  &:after {
    background-image: url('../img/pattern-leaves-flat-an.png');
    background-position: 50% 50%;
    display: none;
    content: '';
    width: 999em;
    height: 100%;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: -1;

    @media (--bp-sm) { display: block; }
    @media (--bp-lg) {
      right: -90px;
      background-position: 100% 50%;
    }
    @media (--bp-xl) { right: -100px; }
  }
}

.slides--full {

  & .slick-arrow {
    left: 50%;
    transition: opacity 0.75s;

    &:before {
      width: 60px;
      height: 67px;
      background-image: url(../img/sprite-slider-an.png);
    }

    &:hover {
      opacity: 1;
    }
  }

  & .slick-prev {
    transform: translateX(-350px);
    @media (--bp-md) { transform: translateX(-504px) }
    @media (--bp-xl) { transform: translateX(-670px) }
  }

  & .slick-next {
    transform: translateX(18px);
    @media (--bp-md) { transform: translateX(44px) }
    @media (--bp-xl) { transform: translateX(71px) }
  }

  & .slick-dots {
    top: 0;
    text-align: center;
    margin-top: 45%;

    @media (--bp-sm) {
      margin-top: 0;
      position: absolute;
      right: 50%;
      width: 430px;
      margin-right: -65px;
      top: auto;
      bottom: 0;
    }

    @media (--bp-md) {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
      width: 550px;
      margin-right: -75px;
      transform: translateX(0);
    }

    @media (--bp-xl) {
      width: 745px;
      margin-right: -103px;
    }

    & li {
      cursor: pointer;

      @media (--bp-sm) {
        margin-top: 14px;
        margin-bottom: 14px;
      }

      & img {
        width: 63px;
      }
    }
  }
}

.slides--hero {
  margin-top: 50px;

  @media(--bp-md) {
    margin-top: 78px;
  }

  & .bg {
    background-size: auto 100%;
    height: 400px;
    padding-bottom: 0;

    @media (--bp-sm) {
      padding-bottom: 40%;
      background-size: cover;
      height: auto;
    }
  }

  & .slide__body {
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-transform: uppercase;
    background: color(black a(50%));
    border: 1px solid white;
    padding: 20px;
    max-width: 90%;
    display: inline-block;
    left: 50%;
    right: auto;

    @media (--bp-sm) {
      padding: 20px 30px;
      max-width: 450px;
      width: auto;
    }

    & p {
      font-size: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      &.lead {
        font-style: normal;
        font-weight: bold;
        letter-spacing: 7px;
        font-size: 18px;
        font-family: "Helvetica", helvetica, arial, sans-serif;
        text-indent: 0.5em;

        @media (--bp-sm) {
          font-size: 20px;
          letter-spacing: 13px;
        }

        @media (--bp-md) {
          font-size: 24px;
          letter-spacing: 13px;
        }
      }

      & a {
        font-weight: bold;
        text-decoration: none;
      }
    }

    & h2 {
      font-size: 24px;
      letter-spacing: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
      font-family: "Helvetica", helvetica, arial, sans-serif;

      @media (--bp-sm) {
        font-size: 32px;
      }

      @media (--bp-md) {
        font-size: 34px;
      }
    }
  }

  & .slick-dots {
    bottom: 85px;

    @media (--bp-sm) {
      width: 700px;
      bottom: 160px;
    }

    @media (--bp-md) { width: 850px; }
    @media (--bp-lg) {
      width: 960px;
      bottom: 50%;
    }
  }
}

.slides--card {
  & .slick-track {
    display: flex;
  }

  & .slick-slide {
    display: flex;
    height: auto;
    margin: 0 15px;
  }

  & .slick-dots {
    text-align: center;
    margin-top: 40%;
  }
}

.slides--tale {
  & .story {
    outline: none;
  }

  & .slick-dots {
    position: absolute;
    top: 0;
    text-align: center;
    margin-top: 40%;
  }
}

.slide-wrap {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1em;
}

.slides--full + .slides--tale {
  margin-top: 40px;
}
