.story {
  display: block;
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    background-image: url('../img/pattern-leaves-an.jpg');
    background-position: 100% 200%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;

    @media (--bp-sm) {
      content: '';
      left: 50%;
      transform: translateX(-365px);
      background-position: 100% 0;
    }
  }

  & figure {
    overflow: auto;
    position: relative;
    outline: none;

    @media (--bp-sm) {
      margin: auto;
      display: flex !important;
      align-items: center;
      justify-content: center;
    }

    & img {
      width: 100%;
    }
  }

  & .media {
    position: relative;

    @media (--bp-sm) {
      width: 430px;
    }

    @media (--bp-md) {
      width: 550px;
    }

    @media (--bp-xl) {
      width: 745px;
    }

    &__image {
      display: block;
      width: 100%;
      height: 100%;
      padding-bottom: 56%;
      background-size: cover;
      background-position: 50% 50%;
      cursor: pointer;
    }
  }

  & figcaption {
    padding: 20px;
    text-align: center;
    background-image: url('../img/pattern-leaves-an.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-top: 0;

    @media (--bp-sm) {
      width: 300px;
      padding: 0 20px;
      background: transparent;
    }
    @media (--bp-md) {
      width: 400px;
      padding: 0 30px;
    }
    @media (--bp-xl) {
      width: 540px;
      padding: 0 40px;
    }

    & h4 {
      color: var(--color-primary);
      font-size: 20px;
      font-style: italic;
    }

    & p {
      font-size: 16px;
    }

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.story__image {

}
.story--alt {
  &:before {
    @media (--bp-sm) {
      left: 0;
      right: auto;
    }
  }

  & figure {
    flex-direction: row-reverse;

    & img {
    }
  }
}
.story + .story {
  @media (--bp-sm) { margin-top: 20px; }
  @media (--bp-md) { margin-top: 40px; }
}

.story--a {
  overflow: visible;

  @media (--bp-sm) {
    margin-bottom: 40px;
  }

  &:before {
    width: 100%;
    bottom: auto;
    top: 20px;
    left: 0;
    transform: translateX(0);

    @media (--bp-sm) {
      background-image: url('../img/pattern-leaves-flat-an.png');
    }
  }

  & figure {
    overflow: visible;

    & .media {
      @media (--bp-sm) { max-width: 320px; }
      @media (--bp-md) { max-width: 500px; }
      @media (--bp-lg) { max-width: 590px; }
    }
  }

  & figcaption {
    background: white;
    margin: 0;

    @media (--bp-sm) {
      width: 320px;
      margin-left: 20px;
      box-shadow: 0 2px 10px #bbbbbb;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media (--bp-md) { width: 420px; }
    @media (--bp-lg) { width: 500px; }
    @media (--bp-xl) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    & dl {
      display: inline-block;
      margin-bottom: 0;

      & dt {
        display: inline;
        font-weight: normal;
      }
      & dd {
        display: inline;
        color: var(--color-primary);
        &:after {
          content: '';
          display: block;
        }
      }
    }
  }
}

.story--alt .slick-dots {
  @media (--bp-sm) {
    right: auto;
    left: 50%;
    margin-left: -65px
  }
  @media (--bp-md) { margin-left: -75px }
}

.story--alt .slick-arrow {
  right: 50%;
  left: auto;
  margin-left: 0;
}
.story--alt .slick-prev {
  @media (--bp-sm) { transform: translateX(-20px) }
  @media (--bp-md) { transform: translateX(-30px) }
  @media (--bp-xl) { transform: translateX(-50px) }
}
.story--alt .slick-next {
  right: 50%;
  left: auto;
  margin-left: 0;

  @media (--bp-sm) { transform: translateX(350px) }
  @media (--bp-md) { transform: translateX(460px) }
  @media (--bp-xl) { transform: translateX(620px) }
}

.tale {
  @media (--bp-md) {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (--bp-lg) { width: 1130px; }
  @media (--bp-xl) { width: 1340px; }

  & figure {
    position: relative;

    @media (--bp-sm) {
      display: flex;
      width: 730px;
      margin: 0 auto 20px;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
      align-items: center
    }

    @media (--bp-md) {
      flex-basis: 24%;
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
    }

    @media (--bp-lg) {
      flex-direction: row-reverse;
      flex-basis: 49%;
    }

    &:nth-child(1n+3) {
      @media (--bp-lg) {
        flex-direction: row;
      }
    }

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: white url('../img/pattern-leaves-an.jpg') 100% 100%;
      position: absolute;
      z-index: -1;

      @media (--bp-md) {
      }
    }
  }

  & .media {
    @media (--bp-sm) {
      flex: 1 0 auto;
    }

    @media (--bp-md) {
      flex: 0 1 auto;
    }

    @media (--bp-lg) {
      flex: 4;
    }

    & img {
      width: 100%;
    }
  }

  & figcaption {
    padding: 20px;
    margin: 0 auto;
    background: white url('../img/pattern-leaves-an.jpg');
    position: relative;
    top: -20px;
    text-align: center;
    width: 90%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

    @media (--bp-sm) {
      background: transparent;
      flex: 1 auto;
      box-shadow: none;
      top: 0;
      font-size: 15px;
      padding-top: 0;
      padding-bottom: 0;
      box-shadow: none;
    }

    @media (--bp-lg) {
      flex: 3;
      font-size: 13px;
      line-height: 1;
    }

    @media (--bp-xl) {
      font-size: 16px
    }

    & h4 {
      @media (--bp-md) { font-size: 20px; }
      @media (--bp-lg) { font-size: 18px; }
      @media (--bp-md) { font-size: 22px; }
    }

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
