<footer class="footer">
  <div class="footer__bounds">
    <div class="footer__copy">
      <p>Copyright 2017 Banyan Tree Hotels &amp; Resorts. All rights reserved.</p>
    </div>
    <div class="footer__links">
      <p>
        <a href="#">Contact Us</a><span class="fence"></span>
        <a href="#">Career</a><span class="fence"></span>
        <a href="#">Privacy Policy</a><span class="fence"></span>
        <a href="#">Terms &amp; Conditions</a>
      </p>
    </div>
  </div>
</footer>
