<header class="header {{#if property}}header--property{{/if}}">
  <div class="header__bounds">
    <div class="header__brand">
      <img src="assets/img/logo-an.png" alt="Angsana®" />
    </div>
    <div class="header__shortcuts">
      <button class="button button--shortcut" id="shortcutBookButton">book now</button>
    </div>
    <div class="header__switch">
      <button class="button" id="menuOpenButton"></button>
      <button class="button" id="menuCloseButton"></button>
    </div>
    <div class="header__menu menu">
      <nav class="menu__links">
        <ul class="nav">
          {{#if property}}
          <li><a href="#">Another Hotel</a></li>
          <li><a href="#">Our Resort</a></li>
          <li><a href="#">Offers</a></li>
          <li><a href="#">Photos</a></li>
          <li><a href="#">Rooms and Suites</a></li>
          <li><a href="#">Dining</a></li>
          <li><a href="#">Facilities</a></li>
          <li><a href="#">Family</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Spa</a></li>
          <li><a href="#">Wedding &amp; Romance</a></li>
          <li><a href="#">Events</a></li>
          {{else}}
          <li><a href="#">Find A Hotel</a></li>
          <li><a href="#">Offers</a></li>
          <li><a href="#">Romance &amp; Wedding</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Spa</a></li>
          <li><a href="#">Gifting</a></li>
          <li><a href="#">Residences</a></li>
          <li><a href="#">Brand Story</a></li>
          <li><a href="#">Photos</a></li>
          {{/if}}
        </ul>
      </nav>
      <a class="button button--primary" id="bookButton" href="/">book now <i class="icon icon--ui-circlearrow-i"></i></a>
      <div class="menu__actions">
        <div class="site-search">
          <form action="search" method="get">
            <div class="site-search__fields">
              <input type="search" name="search" /><button type="submit"></button>
            </div>
          </form>
        </div>
        <button class="button" id="searchButton">
          <i class="icon icon--search"></i>
        </button>
        <span class="fence"></span>
        <button class="button button--text" id="feedbackButton">feedback</button>
        <div class="switch-language">
          <button>EN</button>
          <select name="lang" id="language">
            <option value="cn">Chinese</option>
            <option value="fr">French</option>
            <option value="en">English</option>
          </select>
          <div class="switch-language__dropdown"></div>
        </div>
      </div>
    </div>
  </div>
</header>
