{{#extend "layouts/base"}} {{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Spa</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Welcome to Banyan Tree Spa</h1>
        <hr class="rule" />
        <p class="text-primary"><em>A Sanctuary For The Senses</em></p>
        <p>When Banyan Tree Spa opened in Phuket, Thailand in 1994, it pioneered the tropical garden spa concept with its Asian therapies and holistic focus on spiritual, mental and physical harmony. As one of the pioneer oriental spas in Asia, it reintroduced an exotic blend of ancient health and beauty practices which have been passed down from generation to generation.</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Enquire More</button>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  <p>&nbsp;</p>
</section>
<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">Your Sanctuary for the Senses</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <img src="assets/img/story-spa-1.jpg" alt="Story 1" />
      </div>
      <figcaption>
        <h4>Brand Story</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="global-spa-brand-story.html">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-spa-2.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <h4>Signature Treatment</h4>
        <hr class="rule rule--centered">
        <p>Choose from Touch of Love or Touch of Peace massage oil to complement your state of mind and achieve desired effects.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story">
    <figure>
      <div class="media">
        <img src="assets/img/story-spa-3.jpg" alt="Story 3" />
      </div>
      <figcaption>
        <h4>Our Therapist</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>
<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">Discover More Offers</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 1</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Special Offer 2</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-wellness.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Body Treats</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-body-treats.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Wellness Journeys</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Anniversary &gt;</a>
            </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}}

{{/extend}}
