{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Upcoming hotels</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>UPCOMING HOTELS</h1>
        <hr class="rule" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ipsum, vestibulum ut tristique a, suscipit vel justo. Ut vel mollis nunc, in facilisis sapien. Cras ullamcorper in ex vel interdum. Curabitur lobortis ligula massa, quis congue lectus lacinia a. Pellentesque accumsan luctus eleifend. Vestibulum ornare metus at nisi dignissim variu.</p>
        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
          </div>
        </div>
        <p>&nbsp;</p>

        <article>
          <span class="circle">1</span>
          <h3>Hotel A (Opening in 3 month)</h3>
          <hr class="rule" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ipsum, vestibulum ut tristique a, suscipit vel justo. Ut vel mollis nunc, in facilisis sapien. Cras ullamcorper in ex vel interdum. Curabitur lobortis ligula massa, quis congue lectus lacinia a. Pellentesque accumsan luctus eleifend. Vestibulum ornare metus at nisi dignissim variu.</p>
          <div class="buttons">
            <button class="button button--primary">Book Now</button>
            <button class="button button--primary">Download Fact Sheet</button>
            <button class="button button--primary">More Details</button>
          </div>
          <p>&nbsp;</p>
          <div class="media">
            <img src="assets/img/opening-1.jpg" alt="Two bedroom Hongcun Villa 1" />
          </div>
        </article>
      <p>&nbsp;</p>

      <article>
        <span class="circle">2</span>
        <h3>Hotel B (opening in q4 2018)</h3>
        <hr class="rule" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ipsum, vestibulum ut tristique a, suscipit vel justo. Ut vel mollis nunc, in facilisis sapien. Cras ullamcorper in ex vel interdum. Curabitur lobortis ligula massa, quis congue lectus lacinia a. Pellentesque accumsan luctus eleifend. Vestibulum ornare metus at nisi dignissim variu.</p>
        <div class="media">
          <img src="assets/img/opening-2.jpg" alt="Two bedroom Hongcun Villa 1" />
        </div>
      </article>
      <p>&nbsp;</p>

      <article>
        <span class="circle">3</span>
        <h3>Hotel C (opening in q4 2018)</h3>
        <hr class="rule" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ipsum, vestibulum ut tristique a, suscipit vel justo. Ut vel mollis nunc, in facilisis sapien. Cras ullamcorper in ex vel interdum. Curabitur lobortis ligula massa, quis congue lectus lacinia a. Pellentesque accumsan luctus eleifend. Vestibulum ornare metus at nisi dignissim variu.</p>

        <div class="media">
          <img src="assets/img/opening-3.jpg" alt="Two bedroom Hongcun Villa 1" />
        </div>
      </article>


      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__links">
          <p><em>Find A Hotel</em></p>
          <ul class="nav nav--sidebar">
            <li><a href="/">Upcoming Hotels</a></li>
          </ul>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
        </div>

      </aside>
    </div>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
