{{#extend "layouts/base"}}

{{#content "main"}}
<section class="hero">
  <div class="bg" style="background-image: url('assets/img/banner-event.jpg')"></div>
  <div class="bg bg--sm" style="background-image: url('assets/img/banner-event-lg.jpg')"></div>
</section>

<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Event</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>MEANINGFUL CONNECTIONS LIKE NO OTHER</h1>
        <hr class="rule" />
        <p class="text-primary"><em>&quot;There's a Banyan Tree for All of Your Event Needs&quot;</em></p>
        <p>We endeavour to meet and exceed your expectations. With an array of stunning locations, a specialised Events Team and the impeccable Banyan Tree services, your event will be seamless and stress-free. Every detail, from event production to execution will be handled with flair with finesse, leaving you with a stress-free experience.</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Request For Proposal</button>
          <button class="button button--primary">Find All Venue</button>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
    <p>&nbsp;</p>
  </div>
</section>

<section>
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="section-title">Stunning Destinations</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-event-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Events by the Beach</h4>
        <hr class="rule rule--centered">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis molestie justo, eget faucibus nibh. In hac habitasse platea dictumst. </p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-event-2.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Business Meets Rejuvenation</h4>
        <hr class="rule rule--centered">
        <p>Organisations choosing Banyan Tree or Angsana can feel confident that their responsible meetings offer a sustainable choice for both their business and the planet.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="section-title">Stunning Destinations</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-event-2.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Business Meets Rejuvenation</h4>
        <hr class="rule rule--centered">
        <p>Organisations choosing Banyan Tree or Angsana can feel confident that their responsible meetings offer a sustainable choice for both their business and the planet.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-event-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Events by the Beach</h4>
        <hr class="rule rule--centered">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis molestie justo, eget faucibus nibh. In hac habitasse platea dictumst. </p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
</section>

<section class="offers">
  <div class="container">
    <p>&nbsp;</p>
    <h2 class="section-title">Our offers</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
  <div class="container">
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-13.jpg" alt="The Perfect Meeting Venue">
        </div>
        <div class="card__body">
          <h4>The Perfect Meeting Venue</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Find a venue &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-14.jpg" alt="Meet for More">
        </div>
        <div class="card__body">
          <h4>Meet for More</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View meeting offers &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-15.jpg" alt="Meet for Good">
        </div>
        <div class="card__body">
          <h4>Meet for Good</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-16.jpg" alt="Request for Proposal">
        </div>
        <div class="card__body">
          <h4>Request for Proposal</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
