{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Gifting</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Buy A Gift</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Give The Gift Of Choice. The Gift Of Banyan Tree.</em></p>
        <p>Visit Banyan Tree or Angsana Gallery, where we offer a specially-curated selection of traditional handmade crafts inspired by the local heritage and culture of our hotels and resorts. Recreate the Banyan Tree or Angsana experience with a choice selection of signature spa amenities, Asian-style home furnishing, resort apparel and accessories. Take home a hand-woven bag, scarf or handicraft. Our galleries give you a chance to purchase a unique memento of your trip while supporting the livelihoods of local artisans.
        </p>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>

  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <h2 class="section-title">Your Sanctuary for the Senses</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>

  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-gifting-1.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <h4>Banyan Tree Essentials</h4>
        <hr class="rule rule--centered">
        <p>Bring the Banyan Tree Experience to your own home. With 20 years of heritage in Asian Spa Remedies, we strive to infuse moments of wellness and inner harmony into everyday lives through our bath and body products, inspired by Award-Winning Spa Treatments. </p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story">
    <figure>
      <div class="media">
        <img src="assets/img/story-gifting-2.jpg" alt="Story 3" />
      </div>
      <figcaption>
        <h4>E-Gift Vouncher</h4>
        <hr class="rule rule--centered">
        <p>Kindly note that our e-gift cards are temporarily unavailable for purchase. We apologise for any inconveniences caused. However, you may check your e-gift card value in the link below.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{/extend}}
