{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li>Wedding &amp; Romance</li>
          <li class="active">Find A Venue</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Find a romantic venue</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Your guide to the ultimate romantic experiences</em></p>
        <p>Romance can mean so many things, from simple walks on a beach, to grand romantic gestures at the top of a mountain. Finding the perfect place for your romantic experience comes down to what you want, and how you want to experience it. Let us help you find that perfect place.</p>
        <p>&nbsp;</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="filterview filterview--collapsed filterview--inline" data-filter="fv1">
      <div class="filterview__frame">
        <div class="filterview__toggle">
          <button class="button" type="button" id="toggle_filter_button">Filter by</button>
        </div>
        <div class="filters">
          <form data-filter="filter-options">
            <div class="toggles">
              <div class="toggle">
                <input type="checkbox" id="brandBanyan" name="brands[]" value="Banyan-Tree" checked>
                <label for="brandBanyan">
                  <i class="icon icon--fullbrand-banyan-i"></i>
                  <i class="icon icon--fullbrand-banyan"></i>
                </label>
              </div>
              <div class="toggle">
                <input type="checkbox" id="brandAngsana" name="brands[]" value="Angsana" checked>
                <label for="brandAngsana">
                  <i class="icon icon--fullbrand-angsana-i"></i>
                  <i class="icon icon--fullbrand-angsana"></i>
                </label>
              </div>
              <div class="toggle">
                <input type="checkbox" id="brandCassia" name="brands[]" value="Cassia" checked>
                <label for="brandCassia">
                  <i class="icon icon--fullbrand-cassia-i"></i>
                  <i class="icon icon--fullbrand-cassia"></i>
                </label>
              </div>
              <div class="toggle">
                <input type="checkbox" id="brandDhawa" name="brands[]" value="Dhawa" checked>
                <label for="brandDhawa">
                  <i class="icon icon--fullbrand-dhawa-i"></i>
                  <i class="icon icon--fullbrand-dhawa"></i>
                </label>
              </div>
            </div>

            <div class="multiselect" data-filter-dropdown="countries"></div>

            <div class="multiselect" data-filter-dropdown="themes"></div>

            <div class="filters__action">
              <button id="submitFilter" class="button button--secondary">Apply</button>
            </div>
          </form>
        </div>
        <div class="filterview__switches">
          <button class="button button--icon" data-view-type="grid"><i class="icon icon--view-grid"></i></button>
          <button class="button button--icon" data-view-type="map"><i class="icon icon--view-map"></i></button>
          <button class="button button--icon" data-view-type="detail"><i class="icon icon--view-list"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div data-collection="grid" data-collection-type="wedding"></div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>
{{/content}}

{{#content "end"}}
<script>
var BTMAP_IMAGEPATH = 'assets/img/';
{{> partials/scripts.json-wedding }}
</script>
<script src="./assets/js/catalog.js"></script>
{{/content}}

{{/extend}}
