{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li>Meetings</li>
          <li>Meeting Offers</li>
          <li class="active">Half-Day Meeting Package</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Half-day Meeting Package</h1>
        <hr class="rule" />
        <p>Rate inclusive of one (1) group lunch and one (1) coffee break with snacks, 8:00am to 12:00pm or 1:00pm to 5:00pm
          <br> Price: THB 1,250 inclusive of 7% tax and 10% service charge</p>
        <ul>
          <li>Coffee and a variety of tea throughout the meeting</li>
          <li>Welcome cookies upon arrival</li>
          <li>Morning coffee break with 4 kinds of snack and fresh fruit juice or Afternoon coffee break with 4 kinds of snack and beverage of the day</li>
          <li>Selection of lunch:
            <ul>
              <li>Set lunch at Saffron Restaurant (Thai) on 52nd floor, Taihei (Japanese) on 53rd floor, or Bai Yun Restaurant (Chinese) on 59th floor</li>
              <li>Working lunch in mini buffet style (for minimum 30 persons) or individual set (for maximum 15 persons)</li>
              <li>Private lunch in function room (for minimum 30 persons), set or buffet-Thai or International (subjected to availability)</li>
              <li>Join International buffet lunch at Romsai Restaurant on lower lobby level (maximum 50 persons)</li>
              <li>Western set lunch at Vertigo TOO Restaurant on 60th floor (minimum 50 persons)</li>
              <li>Dim Sum all-you-can-eat or Chinese set lunch at Bai Yun Restaurant on 60th floor</li>
            </ul>
          </li>
          <li>Stationary, note pad and pen</li>
          <li>Basic AV equipment</li>
          <li>Complimentary usage of hotel LCD projector</li>
          <li>Backdrop with company logo</li>
          <li>Flip chart and markers</li>
          <li>Drinking water and mint</li>
          <li>Nice flower decoration</li>
          <li>Signage in public area</li>
          <li>Podium with microphone</li>
          <li>Banquet and Technician services standby throughout the meeting</li>
        </ul>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Request For Proposal</button>
        </div>
        <div class="sidebar__links">
          <ul class="nav nav--sidebar">
            <li><a href="/">Meet For Good Package</a></li>
            <li><a class="active" href="/">Half Day Meeting</a></li>
            <li><a href="/">Full Day Meeting</a></li>
            <li><a href="/">Find A Venue</a></li>
          </ul>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>

<section class="drawable">
  <div class="container">
     <h2 class="section-title">Our Participating Hotels</h2>
     <p>&nbsp;</p>
  </div>

  <div class="drawer cards-set cards-set--list">
    <p class="drawer__knob cards-set__title">China <i class="icon icon--ui-down"></i></p>
    <div class="drawer__box cards">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Chongoing Beibei</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Hangzhou</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Huangshan</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Jiuzhaigou</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Lijiang</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Macau</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Ringha</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Sanya</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="drawer cards-set cards-set--compact">
    <p class="drawer__knob cards-set__title">India <i class="icon icon--ui-down"></i></p>
    <div class="drawer__box cards">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Chongoing Beibei</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Hangzhou</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Huangshan</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Jiuzhaigou</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Lijiang</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Macau</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Ringha</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Sanya</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="drawer cards-set">
    <p class="drawer__knob cards-set__title">Laos <i class="icon icon--ui-down"></i></p>
    <div class="drawer__box cards">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Chongoing Beibei</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Hangzhou</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Huangshan</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Jiuzhaigou</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Lijiang</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Macau</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Ringha</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Sanya</h4>
          <hr class="rule rule--centered">
          <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
        </div>
        <div class="card__footer">
          <div class="card__actions">
            <a href="#">Book now &gt;</a>
            <a href="#">View photos &gt;</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>
{{/content}}

{{/extend}}
