{{#extend "layouts/base"}}
{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Spa</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Brand Story</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Discover Our Heritage And Culture</em></p>
        <p>In days gone by, the Banyan tree provided shelter to weary travellers. Symbolising the relief and comfort provided by nature, we adopted the name for our special group of hotels that stretch across the globe and offer rest and relaxation to the world-weary.</p>
        <p>With attentive yet discreet service and associates representing more than 50 nationalities, Banyan Tree Hotels &amp; Resorts provide naturally-luxurious, ecological, culturally-sensitive experiences.</p>
        <p>Banyan Tree Hotels &amp; Resorts has grown into one of the world's leading international operators in the hospitality and spa industry that manages more than 40 resorts and hotels, 60 spas, 70 retail galleries and three championship golf courses in 28 countries. The company has created hotels and resorts to suit your needs and lifestyle built on a foundation of sustainability.</p>
        <p>Find out more about our destinations in <a href="#">English</a> and <a href="#">Simplified Chinese</a></p>
        <p>&nbsp;</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
<section>
  <p>&nbsp;</p>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-1.jpg" alt="Story 1" />
      </div>
      <figcaption>
        <h4>Our Beginnings</h4>
        <hr class="rule rule--centered">
        <p>Sustainability From The Start</p>
        <p>Thirty years ago, our founders purchased a vast expanse of coastal land in Phuket, Thailand punctuated by lagoons of the most intense cobalt blue. Only to discover that its beauty came not from Mother Nature, but the pollution by the previous tenant, a tin mine. Rather than walk away, they dedicated themselves to cleansing the acid-laden soil by planting more than 7,000 trees. In doing so, they transformed this ecological wasteland into the environmentally sensitive first Banyan Tree resort in 1994. Since those beginnings our passion and focus on the journey, discovery and the romance of travel remains at the core of our business today.</p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-2.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <h4>Signature Treatment</h4>
        <hr class="rule rule--centered">
        <p>For The Needs Of Travellers</p>
        <p>Banyan Tree Hotels &amp; Resorts has created a family of brands to cater to the needs of today's travellers. Whether our guests are travelling for romance, a family holiday, business, visiting family or friends, or going on an adventure to discovering a far-flung destination, Banyan Tree Hotels & Resorts has the perfect destination. For our hotel owners our three brands offer distinctive product offerings that cater to different locations and potential for various destinations.</p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2 class="text-lead text-center">"Banyan Tree provides naturally-luxurious, ecological, culture-sensitive experiences for the discerning, responsible traveller"</h2>
      <hr class="rule rule--ornament" />
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-1.jpg" alt="Story 1" />
      </div>
      <figcaption>
        <h4>Breathtaking Nature</h4>
        <hr class="rule rule--centered">
        <p>Sustainability From The Start</p>
        <p>Thirty years ago, our founders purchased a vast expanse of coastal land in Phuket, Thailand punctuated by lagoons of the most intense cobalt blue. Only to discover that its beauty came not from Mother Nature, but the pollution by the previous tenant, a tin mine. Rather than walk away, they dedicated themselves to cleansing the acid-laden soil by planting more than 7,000 trees. In doing so, they transformed this ecological wasteland into the environmentally sensitive first Banyan Tree resort in 1994. Since those beginnings our passion and focus on the journey, discovery and the romance of travel remains at the core of our business today.</p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-2.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <p><i class="icon icon--brand-banyan"></i></p>
        <hr class="rule rule--centered">
        <p>A Sanctuary For The Senses</p>
        <p>Rediscover the romance of travel as you journey to iconic cities or far flung destinations where authentic, memorable experiences await providing a true appreciation of where you are in the world. Banyan Tree Hotels &amp; Resorts has created a locally-infused sanctuary offering a place to rejuvenate the mind, body and soul in awe-inspiring locations around the globe. Understated-luxury, Banyan Tree is an all villa concept often with pools located in stunning destinations around the world. In gateway cities, Banyan Tree has developed tropical garden villas and suites creating an urban oasis. Banyan Tree, a Sanctuary for the Senses.</p>
        <p class="text-primary">25 HOTELS &amp; RESORTS <br>9 COUNTRIES</p>
        <p><a href="#">View Banyan Tree &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-1.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <p><i class="icon icon--brand-angsana"></i></p>
        <hr class="rule rule--centered">
        <p>Angsana brings the adventure back into travel whatever your age or reason to visit. Intertwining local chic and a vibrant, fun-filled atmosphere, Angsana creates amazing destination playgrounds across the world. The opportunity to surprise yourself and create lasting memories is everywhere at Angsana – whether you are tasting a local delicacy for the first time, trying out a new activity or forming new friendships. Each hotel is uniquely designed to provide spacious stylish rooms and suites perfect for couples, families and friends. Angsana, Sensing The Moment.</p>
        <p class="text-primary">14 HOTELS &amp; RESORTS <br>9 COUNTRIES</p>
        <p><a href="#">View Angsana &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-2.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <p><i class="icon icon--brand-cassia"></i></p>
        <hr class="rule rule--centered">
        <p>Live, Laugh, Love Your Way</p>
        <p>A new approach to hospitality by Banyan Tree, Cassia seamlessly weaves living and holidaying together in the niche between hotel and apartment. Designed with the independent traveller in mind Cassia allows guests to define the terms of their stay through making their own choices. A truly connected environment and clever design provides the space and dynamic atmosphere to enjoy living while away from home. Each Cassia is designed with one and two-bedroom units that provide a complete home from home experience, perfect for young families, couples, and group of friends.</p>
        <p class="text-primary">1 PROPERTY <br>4 PROPERTIES IN DEVELOPMENT</p>
        <p><a href="#">View Angsana &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2 class="text-lead text-center">"Immerse into a host culture, enrich your stay and return home with authentic, rewarding memories"</h2>
      <hr class="rule rule--ornament" />
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="story">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-2.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <p><i class="icon icon--brand-dhawa"></i></p>
        <hr class="rule rule--centered">
        <p>No Room For The Ordinary</p>
        <p>At Dhawa, it’s all about you. A contemporary, casual and creative hotel where you call the shots. You can discover the destination, or just discover your cocoon (that’s your bedroom). So roll the dice and decide. Choose what you want to do &amp; choose who you want to be. Be sassy. Be sweet. Fly high or lie low. Get out or stay in. Be party. Be worky. Be lazy. Be crazy. There’s no room for the ordinary.</p>
        <p class="text-primary">1 HOTEL &amp; RESORT <br>4 PROPERTIES IN DEVELOPMENT</p>
        <p><a href="#">View Dhawa &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-2.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <h4>Banyan Tree Private Collection</h4>
        <hr class="rule rule--centered">
        <p>Brings You Over 100 Unique Destination <br>For Life Time Travel</p>
        <p>Members can enjoy yearly escapes in private villas set in the most sought after locations around the globe, includes Bali, Phuket, France, Italy, Japan, Morocco, Seychelles, as well as Africa, USA and United Kingdom.</p>
        <p><a href="#">View Banyan Tree Private Collection &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

{{/content}}

{{/extend}}
