{{#extend "layouts/base"}}

{{#content "main"}}
<section class="gg-hero">
  <div class="gg-intro">
    <div class="gg-intro__entry">
      <h1>EXPLORE OUR JOURNEY ACROSS MANY LANDS</h1>
      <p>With more than 35 hotels and resort across the globe, from beaches, mountain, and urban city. Explore and plan the wonderment for your next holiday with Banyan Tree</p>
      <ul>
        <li data-theme="beach"><i class="icon icon--gallery-beach-i"></i> Beach</li>
        <li data-theme="culture"><i class="icon icon--gallery-culture-i"></i> Culture</li>
        <li data-theme="nature"><i class="icon icon--gallery-nature-i"></i> Nature</li>
        <li data-theme="urban"><i class="icon icon--gallery-urban-i"></i> Urban</li>
      </ul>
    </div>
  </div>
  <div class="gg-gallery">
    <div class="gg-gallery__images"></div>
    <div class="gg-gallery__entry">
      <div data-entry>
        <h1><span>CLUB &amp; SPA SEOUL</span></h1>
        <p class="lead">Experience An Urban Oasis In The Heart Of Seoul</p>
        <p>Take pleasure in rising mountain views, the limpid Han river at Banyan Tree Club &amp; Spa Seoul, the perfect respite for business or leisure.</p>
        <p><a class="button button--primary" href="#">explore more</a></p>
      </div>
      <p class="gg-gallery__social">
        <a href="#"><i class="icon icon--social-fb-i"></i></a>
        <a href="#"><i class="icon icon--social-tw-i"></i></a>
        <a href="#"><i class="icon icon--social-pin-i"></i></a>
      </p>
    </div>
    <div class="gg-gallery__control">
      <div class="gg-gallery__switch">
        <p><i class="icon icon--gallery-beach-i"></i>Beach</p>
        <a data-theme="false">view other destinations</a>
      </div>
      <div class="gg-gallery__thumbs">
        <p>thumbnails loading...</p>
      </div>
    </div>
  </div>
</section>
<section class="gg-catalog">
  <div class="gg-viewswitch">
    View
    <button data-gallery-view="list"><i class="icon icon--ui-listview"></i></button>
    <button data-gallery-view="grid"><i class="icon icon--ui-gridview"></i></button>
  </div>
  <div class="gg-listview">
    <div class="gg-listview__select"></div>
    <div class="gg-listview__list"></div>
  </div>
  <div class="gg-gridview">
    <ul class="gg-gridview__list"></ul>
    <div class="gg-gridview__more">
      <button>load more</button>
    </div>
  </div>
</section>
{{/content}}


{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/scrollbar.css" />
{{/content}}


{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/scrollbar.js"></script>
<script>
var BT_PROPERTIES = [
  {
    latLng: { lat:  9.472968, lng:  110.06965 },
    img: "assets/img/global-gallery-hero.jpg",
    brand: "banyan-tree",
    country: "China",
    title: "Some Title",
    description: "Some long description",
    link: "http://www.google.com",
    destination: "beach",
    excerpt: "A short excerpt"
  },
  {
    latLng: { lat:  9.472968, lng:  110.06965 },
    img: "assets/img/global-gallery-hero-2.jpg",
    brand: "banyan-tree",
    country: "Laos",
    title: "club & spa seoul",
    description: "Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. A locale's most spacious idyll, steep yourself in the priceless tranquillity and feel your spirit unwind. ",
    link: "http://www.google.com",
    destination: "urban",
    excerpt: "Experience An Urban Oasis In The Heart Of Seoul"
  },
  {
    latLng: { lat:  9.472968, lng:  110.06965 },
    img: "assets/img/global-gallery-hero.jpg",
    brand: "banyan-tree",
    country: "China",
    title: "club & spa seoul",
    description: "Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. A locale's most spacious idyll, steep yourself in the priceless tranquillity and feel your spirit unwind. ",
    link: "http://www.google.com",
    destination: "beach",
    excerpt: "Experience An Urban Oasis In The Heart Of Seoul"
  },
  {
    latLng: { lat:  9.472968, lng:  110.06965 },
    img: "assets/img/global-gallery-hero-2.jpg",
    brand: "banyan-tree",
    country: "Laos",
    title: "club & spa seoul",
    description: "Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. A locale's most spacious idyll, steep yourself in the priceless tranquillity and feel your spirit unwind. ",
    link: "http://www.google.com",
    destination: "nature",
    excerpt: "Experience An Urban Oasis In The Heart Of Seoul"
  },
  {
    latLng: { lat:  9.472968, lng:  110.06965 },
    img: "assets/img/global-gallery-hero.jpg",
    brand: "banyan-tree",
    country: "China",
    title: "club & spa seoul",
    description: "Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. A locale's most spacious idyll, steep yourself in the priceless tranquillity and feel your spirit unwind. ",
    link: "http://www.google.com",
    destination: "beach",
    excerpt: "Experience An Urban Oasis In The Heart Of Seoul"
  },
  {
    latLng: { lat:  9.472968, lng:  110.06965 },
    img: "assets/img/global-gallery-hero-2.jpg",
    brand: "banyan-tree",
    country: "Malaysia",
    title: "club & spa seoul",
    description: "Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. A locale's most spacious idyll, steep yourself in the priceless tranquillity and feel your spirit unwind. ",
    link: "http://www.google.com",
    destination: "culture",
    excerpt: "Experience An Urban Oasis In The Heart Of Seoul"
  },
  {
    latLng: { lat:  9.472968, lng:  110.06965 },
    img: "assets/img/global-gallery-hero.jpg",
    brand: "banyan-tree",
    country: "Morocco",
    title: "club & spa seoul",
    description: "Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. A locale's most spacious idyll, steep yourself in the priceless tranquillity and feel your spirit unwind. ",
    link: "http://www.google.com",
    destination: "urban",
    excerpt: "Experience An Urban Oasis In The Heart Of Seoul"
  }
]
</script>
<script src="./assets/js/gallery.js"></script>
{{/content}}

{{/extend}}
