{{#extend "layouts/base"}}

{{#content "main"}}
<section class="hero">
  <div class="bg" style="background-image: url('assets/img/banner-wedding.jpg')"></div>
  <div class="bg bg--sm" style="background-image: url('assets/img/banner-wedding-lg.jpg')"></div>
</section>

<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Romance &amp; Wedding</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Romance &amp; Wedding - Ignite The Spark</h1>
        <hr class="rule" />
        <p class="text-primary"><em>A Signature Blend of Romance, Rejuvenation and Exotic Sensuality</em></p>
        <p>Be the envy of your friends and tie the knot in style with a destination wedding. From the dreamy beaches of the Maldives, to the tropical allure of Thailand or the dazzling city lights of Shanghai, Banyan Tree Hotels &amp; Resorts offers a myriad of stunning locales that will make your wedding a most memorable affair.</p>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Check Availability</button>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">ROMANTIC INSPIRATIONS AT BANYAN TREE</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-wedding-1.jpg" title="Story 1"></a>
      </div>
      <figcaption>
        <h4>Romance by the Beach</h4>
        <hr class="rule rule--centered">
        <p>With an array of stunning choice destinations featuring a signature blend of rejuvenation and the romance of travel, Banyan Tree Hotels &amp; Resorts sets the backdrop for that perfect luxury romantic getaway for you and your loved one.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-wedding-2.jpg" title="Story 2"></a>
      </div>
      <figcaption>
        <h4>Amet officiis eveniet fugit</h4>
        <hr class="rule rule--centered">
        <p>Dolor fuga a deserunt cum vero. Commodi eos quaerat magnam porro tempora hic omnis molestias, aut ducimus eum inventore deleniti totam molestias.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-wedding-3.jpg" title="Story 3"></a>
      </div>
      <figcaption>
        <h4>Dignissimos earum cupiditate</h4>
        <hr class="rule rule--centered">
        <p>Adipisicing quia deserunt provident molestiae ipsum. Dignissimos earum cupiditate voluptatem deleniti delectus, odit blanditiis.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-wedding-4.jpg" title="Story 4"></a>
      </div>
      <figcaption>
        <h4>Dignissimos earum cupiditate</h4>
        <hr class="rule rule--centered">
        <p>Adipisicing quia deserunt provident molestiae ipsum. Dignissimos earum cupiditate voluptatem deleniti delectus, odit blanditiis.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-2.jpg" alt="Story 2" />
      </div>
      <figcaption>
        <h4>Intimate Proposal</h4>
        <hr class="rule rule--centered">
        <p>Choose from Touch of Love or Touch of Peace massage oil to complement your state of mind and achieve desired effects.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-3.jpg" alt="Story 3" />
      </div>
      <figcaption>
        <h4>Wedding</h4>
        <hr class="rule rule--centered">
        <p>Choose from Touch of Love or Touch of Peace massage oil to complement your state of mind and achieve desired effects.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-4.jpg" alt="Story 4" />
      </div>
      <figcaption>
        <h4>Anniversary</h4>
        <hr class="rule rule--centered">
        <p>Choose from Touch of Love or Touch of Peace massage oil to complement your state of mind and achieve desired effects.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story">
    <figure>
      <div class="media">
        <img src="assets/img/story-wedding-5.jpg" alt="Story 5" />
      </div>
      <figcaption>
        <h4>Blissful Honeymoon</h4>
        <hr class="rule rule--centered">
        <p>Choose from Touch of Love or Touch of Peace massage oil to complement your state of mind and achieve desired effects.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">ROMANCE PACKAGES</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Find your perfect wedding location</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View all Location &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Intimate Proposals</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Intimate Proposals &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-3.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Blissful Honeymoon</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Blissful Honeymoon &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-4.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Anniversary</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Anniversary &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>

{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
