{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Gifting</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="text-center">
          <h1>Contact Us</h1>
          <hr class="rule rule--centered" />
        </div>
        <p class="text-primary text-center"><em>Give The Gift Of Choice. The Gift Of Banyan Tree.</em></p>
        <p class="text-center">Please fill in the details below to submit your request.</p>
        <p class="text-center">We will be in touch with you in a short time to follow up with your request. <br>Alternatively, you can chat with us <a hre="#">here</a>.</p>

        <p>&nbsp;</p>

        <div class="contact__form">
          <form method="post" id="formCTC">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group required row">
                  <label for="inputEnquiry" class="col-sm-4 col-form-label">Type of Enquiry</label>
                  <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="inputMailTo" id="inputMailTo" value="global">
                    <input type="hidden" class="form-control" name="inputFormType" id="inputFormType" value="ContactUS">
                    <input type="hidden" class="form-control" name="inputFormName" id="inputFormName" value="ContactUS">
                    <input type="hidden" class="form-control" name="inputFormDesc" id="inputFormDesc" value="/">
                    <input name="contact_me_desc" type="text" id="contact_me_desc" style="display:none !important" tabindex="-1" autocomplete="off">
                    <select class="form-control" name="inputEnquiry" id="inputEnquiry" style="display: none;">
                      <option value="General Enquiries">General Enquiries</option>
                      <option value="Guest Service Enquiries">Guest Service Enquiries</option>
                      <option value="Media Enquiries">Media Enquiries</option>
                      <option value="Reservations and Bookings">Reservations and Bookings</option>
                      <option value="Website Enquiries">Website Enquiries</option>
                      <option value="Spa Enquiries">Spa Enquiries</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                </div>
                <div class="form-group required row ">
                  <label for="inputHotel1" class="col-sm-4 col-form-label control-label ">Select Destination</label>
                  <div class="col-sm-8">
                    <select class="form-control chosen-destination" name="inputDestination" id="inputDestination" style="display: none;">
                      <option disabled="" value="" hidden="" selected="">Please Select</option>
                      <optgroup label="China">
                        <option value="Chongqing-BeiBei">Chongqing Beibei</option>
                        <option value="Hangzhou">Hangzhou</option>
                        <option value="Huangshan">Huangshan</option>
                        <option value="Jiuzhaigou">Jiuzhaigou</option>
                        <option value="Lijiang">Lijiang</option>
                        <option value="Macau">Macau</option>
                        <option value="Sanya">Sanya</option>
                        <option value="Shanghai-On-The-Bund">Shanghai On The Bund</option>
                        <option value="Tianjin-Riverside">Tianjin Riverside</option>
                        <option value="Yangshuo">Yangshuo</option>
                        <option value="Anji">Anji</option>
                        <option value="Ringha">Ringha</option>

                      </optgroup>
                      <optgroup label="Indonesia">
                        <option value="Bintan">Bintan</option>
                        <option value="Ungasan-Bali">Ungasan, Bali</option>

                      </optgroup>
                      <optgroup label="Malaysia">
                        <option value="Kuala-Lumpur">Kuala Lumpur</option>
                        <option value="Royale-Pavilion">Royale Pavilion</option>

                      </optgroup>
                      <optgroup label="Maldives">
                        <option value="Vabbinfaru">Vabbinfaru</option>

                      </optgroup>
                      <optgroup label="Mexico">
                        <option value="Cabo-Marques">Cabo Marqués</option>
                        <option value="Mayakoba">Mayakoba</option>

                      </optgroup>
                      <optgroup label="Morocco">
                        <option value="Tamouda-Bay">Tamouda Bay</option>

                      </optgroup>
                      <optgroup label="Seychelles">
                        <option value="Seychelles">Seychelles</option>

                      </optgroup>
                      <optgroup label="Test Country">
                        <option value="Pre-opening">Test Hotel</option>
                        <option value="TEST-Hotel">Test Hotel</option>

                      </optgroup>
                      <optgroup label="South Korea">
                        <option value="Club-and-Spa-Seoul">Club &amp; Spa Seoul</option>

                      </optgroup>
                      <optgroup label="Thailand">
                        <option value="Bangkok">Bangkok</option>
                        <option value="Doublepool-Villas-By-Banyan-Tree-Phuket">DoublePool Villas</option>
                        <option value="Phuket">Phuket</option>
                        <option value="Phuket-Spa-Sanctuary">Spa Sanctuary</option>
                        <option value="Samui">Samui</option>

                      </optgroup>
                      <optgroup label="Vietnam">
                        <option value="Lang-Co">Lăng Cô</option>

                      </optgroup>
                    </select>
                  </div>
                </div>
                <div class="form-group required row">
                  <label for="inputQuestion" class="col-sm-4 col-form-label">Question</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" name="inputQuestion" id="inputQuestion" rows="4"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group required row">
                  <label for="inputFirstName" class="col-sm-4 col-form-label control-label">Name</label>
                  <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="inputMailTo" id="inputMailTo">
                    <input type="hidden" class="form-control" name="inputFormType" id="inputFormType" value="BestPriceGuarantee">
                    <input type="hidden" class="form-control" name="inputFormName" id="inputFormName" value="BestPriceGuarantee">
                    <input type="hidden" class="form-control" name="inputFormDesc" id="inputFormDesc">
                    <input type="text" class="form-control" name="inputFirstName" id="inputFirstName" placeholder="Name">
                  </div>
                </div>
                <div class="form-group required row">
                  <label for="inputLastName" class="col-sm-4 col-form-label">Contact Number</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="inputContactNumber" id="inputContactNumber" placeholder="Contact Number">
                  </div>
                </div>
                <div class="form-group required row">
                  <label for="inputEmail" class="col-sm-4 col-form-label control-label">Email Address</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email">
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-12 ">
                <div class="text-center">
                  <button type="submit" class="text-center pull-center button button--secondary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </main>

      <div class="col-sm-12">
        <h2>Contact Us</h2>
        <hr class="rule">

        <div class="contact__details row">
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>General Enquiries</h4>
              <p>Banyan Tree Hotels &amp; Resorts<br>
                211 Upper Bukit Timah Road<br>
              Singapore 588182</p>
              <ul>
                <li>Tel: <a href="tel:+65 6849 5888">+65 6849 5888</a></li>
                <li>Fax: +65 6462 2463</li>
                <li>E-mail: <a href="mailto:corporate@banyantree.com">corporate@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Media Enquiries</h4>
              <ul>
                <li>E-mail: <a href="mailto:pr@banyantree.com">pr@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Technical Faults</h4>
              <ul>
                <li>E-mail: <a href="mailto:webmaster@banyantree.com">webmaster@banyantree.com</a></li>
              </ul>
            </div>
          </div>
        </div>

        <p>&nbsp;</p>
        <h2>Banyan Tree Global Toll-Free Numbers</h2>
        <hr class="rule">

        <div class="contact__details row">
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>America</h4>
              <dl>
                <dt>United States</dt>
                <dd><a href="tel:1800 591 0439">1800 591 0439</a></dd>
                <dt>Mexico</dt>
                <dd><a href="tel:001 888 213 4992">001 888 213 4992</a></dd>
                <dt>Other Countries</dt>
                <dd><a href="tel:+1 407 284 4284">+1 407 284 4284</a></dd>
              </dl>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Asia Pacific</h4>
              <dl>
                <dt>Australia</dt>
                <dd><a href="tel:1800 050019">1800 050019</a></dd>
                <dt>China</dt>
                <dd><a href="tel:400 921 9789">400 921 9789</a></dd>
                <dt>Hong Kong</dt>
                <dd><a href="tel:800 903 881">800 903 881</a></dd>
                <dt>Japan</dt>
                <dd><a href="tel:0120 778 187">0120 778 187</a></dd>
                <dt>Singapore</dt>
                <dd><a href="tel:1800 232 5599">1800 232 5599</a></dd>
                <dt>Other countries</dt>
                <dd><a href="tel:+65 62325505">+65 62325505</a></dd>
              </dl>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Europe</h4>
              <dl>
                <dt>Germany</dt>
                <dd><a href="tel:00800 300 200 00">00800 300 200 00</a></dd>
                <dt>United Kingdom</dt>
                <dd><a href="tel:00800 300 200 00">00800 300 200 00</a></dd>
                <dt>Other countries</dt>
                <dd><a href="tel:+49 6966419608">+49 6966419608</a></dd>
              </dl>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Middle East</h4>
              <dl>
                <dt>United Arab Emirates</dt>
                <dd><a href="tel:800 065 0586">800 065 0586</a></dd>
              </dl>
            </div>
          </div>
        </div>

        <h2>Banyan Tree Hotels &amp; Resorts</h2>
        <hr class="rule">

        <div class="contact__details row">
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Bangkok</h4>
              <p>21/100 South Sathon Road<br>
                Sathon, Bangkok 10120<br>
              Thailand</p>
              <ul>
                <li>Tel: <a href="tel:+66 2 679 1200">+66 2 679 1200</a></li>
                <li>Fax: +66 2 679 1199</li>
                <li>E-mail: <a href="mailto:bangkok@banyantree.com">bangkok@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Bintan</h4>
              <p>Banyan Tree Resort<br>
                Jalan Teluk Berembang Laguna Bintan,<br>
                Lagoi 29155 Bintan Resorts<br>
                Indonesia
              </p>
              <ul>
                <li>Tel: <a href="tel:+62 770 693 100">+62 770 693 100</a></li>
                <li>Fax: +62 770 693 200</li>
                <li>E-mail: <a href="mailto:bintan@banyantree.com">bintan@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Cabo Marqués</h4>
              <p>Blvd. Cabo Marqués, Lote 1<br>
                Col. Punta Diamente<br>
                Acapulco, Guerrero 39907<br>
              Mexico</p>
              <ul>
                <li>Tel: <a href="tel:+52 744 434 0100">+52 744 434 0100</a></li>
                <li>Fax: +52 744 434 0101</li>
                <li>E-mail: <a href="mailto:cabomarques@banyantree.com">cabomarques@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Club &amp; Spa Seoul</h4>
              <p>San 5-5, Jang Chung-Dong 2-Ga<br>
                Jung-Gu<br>
                Seoul 100-857<br>
              Korea </p>
              <ul>
                <li>Tel: <a href="tel:+82 2 2250 8000">+82 2 2250 8000</a></li>
                <li>Fax: +82 2 2250 8009</li>
                <li>E-mail: <a href="mailto:clubandspa-seoul@banyantree.com">clubandspa-seoul@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Chongqing Beibei</h4>
              <p>101 Hot Spring Road<br>
                Chengjiang<br>
                Beibei District<br>
              Chongqing 400 700 People's Republic of China</p>
              <ul>
                <li>Tel: <a href="tel:+86 23 6030 8888">+86 23 6030 8888</a></li>
                <li>Fax: +86 23 6030 9999</li>
                <li>E-mail: <a href="mailto:chongqingbeibei@banyantree.com">chongqingbeibei@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Hangzhou</h4>
              <p>2 Westbrook Resort<br>
                Zijingang Road<br>
                Hangzhou<br>
                Zhejiang 310030<br>
              People's Republic of China</p>
              <ul>
                <li>Tel: <a href="tel:+86 571 8586 0000">+86 571 8586 0000</a></li>
                <li>Fax: +86 571 8586 2222-3</li>
                <li>E-mail: <a href="mailto:hangzhou@banyantree.com">hangzhou@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Jiuzhaigou</h4>
              <p>No. 1 Baohai Road, Baohua Town, Jiuzhaigou County<br>
                Aba, Sichuan Province<br>
              People's Republic of China</p>
              <ul>
                <li>Tel: <a href="tel:+86 837 889 8888">+86 837 889 8888</a></li>
                <li>Fax: +86 837 777 6577</li>
                <li>E-mail: <a href="mailto:jiuzhaigou@banyantree.com">jiuzhaigou@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Lang Co</h4>
              <p>Cu Du Village<br>
                Loc Vinh Commune<br>
                Phu Loc District<br>
              Thua Thien Hue Province, Vietnam</p>
              <ul>
                <li>Tel: <a href="tel:+84 234 3695 888">+84 234 3695 888</a></li>
                <li>Fax: +84 234 3695 999</li>
                <li>E-mail: <a href="mailto:langco@banyantree.com">langco@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Lijiang</h4>
              <p>Yuerong Road, Shuhe<br>
                Gucheng District<br>
                Lijiang City<br>
                Yunnan Province, People's Republic of China<br>
              674100</p>
              <ul>
                <li>Tel: <a href="tel:+86 888 533 1111">+86 888 533 1111</a></li>
                <li>Fax: +86 888 533 2222</li>
                <li>E-mail: <a href="mailto:lijiang@banyantree.com">lijiang@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Macau</h4>
              <p>Galaxy Macau Resort<br>
                Avenida Marginal Flor de Lotus<br>
                Cotai, Macau<br>
              China</p>
              <ul>
                <li>Tel: <a href="tel:+853 8883 6688">+853 8883 6688</a></li>
                <li>Fax: +853 8883 6108</li>
                <li>E-mail: <a href="mailto:macau@banyantree.com">macau@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Mayakoba</h4>
              <p>Carretera Federal Chetumal-<br>
                Puerto Juárez Km. 298<br>
                Playa del Carmen Quintana Roo<br>
                77710<br>
              Mexico</p>
              <ul>
                <li>Tel: <a href="tel:+52 984 877 3688">+52 984 877 3688</a></li>
                <li>Fax: +52 984 877 3689</li>
                <li>E-mail: <a href="mailto:mayakoba@banyantree.com">mayakoba@banyantree.com</a></li>
                <li>For group inquiries: <a href="mailto:groups-mayakoba@banyantree.com">groups-mayakoba@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Phuket</h4>
              <p>33, 33/27 Moo 4, Srisoonthorn Road<br>
                Cherngtalay, Amphur Talang<br>
                Phuket 83110<br>
              Thailand</p>
              <ul>
                <li>Tel: <a href="tel:+66 76 372 400">+66 76 372 400</a></li>
                <li>Fax: +66 76 324 375</li>
                <li>E-mail: <a href="mailto:phuket@banyantree.com">phuket@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Sanya</h4>
              <p>Luhuitou Bay<br>
                Luling Road No. 6<br>
                Sanya, Hainan Province<br>
              People's Republic of China</p>
              <ul>
                <li>Tel: <a href="tel:+86 898 88609988">+86 898 88609988</a></li>
                <li>Fax: +86 898 88601188</li>
                <li>E-mail: <a href="mailto:sanya@banyantree.com">sanya@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Samui</h4>
              <p>99/9 Moo 4, Maret<br>
                Samui<br>
                Surat Thani 84310<br>
              Thailand</p>
              <ul>
                <li>Tel: <a href="tel:+66 77 915 333">+66 77 915 333</a></li>
                <li>Fax: +66 77 915 388</li>
                <li>E-mail: <a href="mailto:samui@banyantree.com">samui@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Ringha</h4>
              <p>Hong Po Village, Jian Tang Town<br>
                Shangrila County<br>
                Diqing Tibetan Autonomous Prefecture<br>
                Yunnan Province<br>
              People's Republic of China 674400</p>
              <ul>
                <li>Tel: <a href="tel:+86 887 828 8822">+86 887 828 8822</a></li>
                <li>Fax: +86 887 828 8911</li>
                <li>E-mail: <a href="mailto:ringha@banyantree.com">ringha@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Seychelles</h4>
              <p>Anse Intendance<br>
                Mahé<br>
              Republic of Seychelles</p>
              <ul>
                <li>Tel: <a href="tel:+248 438 3500">+248 438 3500</a></li>
                <li>Fax: +248 438 3600</li>
                <li>E-mail: <a href="mailto:seychelles@banyantree.com">seychelles@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Shanghai On The Bund</h4>
              <p>19 Gong Ping Road<br>
                Hong Kou District Shanghai 200082<br>
              People's Republic of China</p>
              <ul>
                <li>Tel: <a href="tel:+86 21 25091188">+86 21 25091188</a></li>
                <li>Fax: +86 21 55091199</li>
                <li>E-mail: <a href="mailto:shanghaionthebund@banyantree.com">shanghaionthebund@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Tianjin Riverside</h4>
              <p>No. 34 Haihe East Road<br>
                Hebei District, Tianjin<br>
              People's Republic of China</p>
              <ul>
                <li>Tel: <a href="tel:+86 22 5861 9999">+86 22 5861 9999</a></li>
                <li>Fax: +86 22 5861 9998</li>
                <li>E-mail: <a href="mailto:tianjinriverside@banyantree.com">tianjinriverside@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Ungasan</h4>
              <p>Jl. Melasti, Banjar Kelod<br>
                Ungasan, Bali 80364<br>
              Indonesia</p>
              <ul>
                <li>Tel: <a href="tel:+62 361 300 7000">+62 361 300 7000</a></li>
                <li>Fax: +62 361 300 7777</li>
                <li>E-mail: <a href="mailto:ungasan@banyantree.com">ungasan@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Vabbinfar</h4>
              <p>Vabbinfaru Island<br>
                North Malé Atoll<br>
              Republic of Maldives</p>
              <ul>
                <li>Tel: <a href="tel:+960 664 3147">+960 664 3147</a></li>
                <li>Fax: +960 664 3843</li>
                <li>E-mail: <a href="mailto:vabbinfaru@banyantree.com">vabbinfaru@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Yangshuo</h4>
              <p>8 Yang Jia Cun , Fu Li Town<br>
                Yangshuo , Guangxi<br>
              P.R.China 541905</p>
              <ul>
                <li>Tel: <a href="tel:+86 773 8942022">+86 773 8942022</a></li>
                <li>E-mail: <a href="mailto:reservations-yangshuo@banyantree.com">reservations-yangshuo@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Huangshan</h4>
              <p>Lu village, Yi County<br>
                Huangshan<br>
              Anhui Province, People's Republic of China 245531</p>
              <ul>
                <li>Tel: <a href="tel:+86 400 921 9789">+86 400 921 9789</a></li>
                <li>E-mail: <a href="mailto:reservations-huangshan@banyantree.com">reservations-huangshan@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Tamouda Bay</h4>
              <p>Route Nationale 13, Oued Negro, BP 526,<br>
              Fnideq 93100, Morocco</p>
              <ul>
                <li>Tel: <a href="tel:+212 539 716 416">+212 539 716 416</a></li>
                <li>Fax: +212 539 669 985</li>
                <li>E-mail: <a href="mailto:reservations.tamoudabay@banyantree.com">reservations.tamoudabay@banyantree.com</a></li>
              </ul>
            </div>
          </div>
        </div>

        <p>&nbsp;</p>
        <h2>Banyan Tree Spa</h2>
        <hr class="rule">

        <div class="contact__details row">
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Bangkok</h4>
              <p>51st -54th Floor<br>
                21/100 South Sathon Road<br>
                Thai Wah Tower II Building<br>
                Sathon, Bangkok 10120<br>
              Thailand</p>
              <ul>
                <li>Tel: <a href="tel:+66 2 679 1052/4">+66 2 679 1052/4</a></li>
                <li>Fax: +66 2 679 1053</li>
                <li>E-mail: <a href="mailto:spa-bangkok@banyantree.com">spa-bangkok@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Bintan</h4>
              <p>Banyan Tree Resort or Angsana Spa &amp; Resort<br>
                Jalan Teluk Berembang Laguna Bintan,<br>
              Lagoi 29155 Bintan Resorts Indonesia</p>
              <ul>
                <li>Tel: <a href="tel:+62 770 693 100">+62 770 693 100</a></li>
                <li>Fax: +62 770 693 151</li>
                <li>E-mail: <a href="mailto:spa-bintan@banyantree.com">spa-bintan@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Phoenix Seagaia Resort</h4>
              <p>Sheraton Grande Ocean Resort<br>
                Hamayama Yamazaki-cho<br>
                Miyazaki-shi Miyazaki<br>
              Japan 880-8545</p>
              <ul>
                <li>Tel: <a href="tel:+81 985 211 351">+81 985 211 351</a></li>
                <li>Fax: +81 985 211 394</li>
                <li>E-mail: <a href="mailto:spa-phoenixseagaia@banyantree.com">spa-phoenixseagaia@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Phuket</h4>
              <p>33, 33/27 Moo 4, Srisoonthorn Road<br>
                Cherngtalay, Amphur Talang<br>
                Phuket 83110<br>
              Thailand</p>
              <ul>
                <li>Tel: <a href="tel:+66 76 324 374">+66 76 324 374</a></li>
                <li>Fax: +66 76 271 463</li>
                <li>E-mail: <a href="mailto:spa-phuket@banyantree.com">spa-phuket@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Ringha</h4>
              <p>Hong Po Village, Jian Tang Town<br>
                Shangrila County<br>
                Diqing Tibetan Autonomous Prefecture<br>
                Yunnan Province<br>
              People's Republic of China 674400</p>
              <ul>
                <li>Tel: <a href="tel:+86 887 828 8822">+86 887 828 8822</a></li>
                <li>Fax: +86 887 828 8911</li>
                <li>E-mail: <a href="mailto:spa-ringha@banyantree.com">spa-ringha@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Seychelles</h4>
              <p>Anse Intendance<br>
                Mahé<br>
              Republic of Seychelles</p>
              <ul>
                <li>Tel: <a href="tel:+248 438 3500">+248 438 3500</a></li>
                <li>Fax: +248 438 3600</li>
                <li>E-mail: <a href="mailto:spa-seychelles@banyantree.com">spa-seychelles@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Shanghai</h4>
              <p>Level 3<br>
                The Westin Shanghai<br>
                Bund Center<br>
                88 Henan Central Road<br>
                Shanghai 200002<br>
              China</p>
              <ul>
                <li>Tel: <a href="tel:+86 21 6335 1888">+86 21 6335 1888</a></li>
                <li>Fax: +86 21 6335 1113</li>
                <li>E-mail: <a href="mailto:spa-shanghai@banyantree.com">spa-shanghai@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Banyan Tree Spa Vabbinfaru</h4>
              <p>Vabbinfaru Island<br>
                North Malé Atoll,<br>
              Republic of Maldives</p>
              <ul>
                <li>Tel: <a href="tel:+960 664 3147">+960 664 3147</a></li>
                <li>Fax: +960 664 3843</li>
                <li>E-mail: <a href="mailto:spa-maldives@banyantree.com">spa-maldives@banyantree.com</a></li>
              </ul>
            </div>
          </div>
        </div>

        <p>&nbsp;</p>
        <h2>Global Sales Network</h2>
        <hr class="rule">

        <div class="contact__details row">
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>China - beijing</h4>
              <ul>
                <li>Tel: <a href="tel:+86 10 8515 1828">+86 10 8515 1828</a></li>
                <li>Fax: +86 10 8587  0308</li>
                <li>E-mail: <a href="mailto:sales-beijing@banyantree.com">sales-beijing@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>China - Guangzhou</h4>
              <ul>
                <li>Tel: <a href="tel:+86 20 2826 1896">+86 20 2826 1896</a></li>
                <li>Fax: +86 20 2826 1897</li>
                <li>E-mail: <a href="mailto:sales-guangzhou@banyantree.com">sales-guangzhou@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>China - Shanghai</h4>
              <ul>
                <li>Tel: <a href="tel:+86 21 6335 2929">+86 21 6335 2929</a></li>
                <li>Fax: +86 21 6335 0658</li>
                <li>E-mail: <a href="mailto:sales-shanghai@banyantree.com">sales-shanghai@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Germany, Austria &amp; Switzerland</h4>
              <ul>
                <li>Tel: <a href="tel:+49 179 5181180">+49 179 5181180</a></li>
                <li>E-mail: <a href="mailto:sales-germany@banyantree.com">sales-germany@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Hong Kong</h4>
              <ul>
                <li>Tel: <a href="tel:+852 9718 6360">+852 9718 6360</a></li>
                <li>Fax: +852 9038 9170</li>
                <li>E-mail: <a href="mailto:sales-hongkong@banyantree.com">sales-hongkong@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Japan</h4>
              <ul>
                <li>Tel: <a href="tel:+81 3 5542 3511">+81 3 5542 3511</a></li>
                <li>Fax: +81 3 5542 3512</li>
                <li>E-mail: <a href="mailto:sales-tokyo@banyantree.com">sales-tokyo@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Taiwan</h4>
              <ul>
                <li>Tel: <a href="tel:+886 2 2509 2368">+886 2 2509 2368</a></li>
                <li>Fax: +886 2 2509 2286</li>
                <li>E-mail: <a href="mailto:sales-taiwan@banyantree.com">sales-taiwan@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>United Kingdom</h4>
              <ul>
                <li>Tel: <a href="tel:+44 7941 287 072">+44 7941 287 072</a></li>
                <li>E-mail: <a href="mailto:sales-london@banyantree.com">sales-london@banyantree.com</a></li>
              </ul>
            </div>
          </div>
        </div>

        <h2>Corporate Contact Information</h2>
        <hr class="rule">

        <div class="contact__details row">
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Registered Address</h4>
              <p>Banyan Tree Holdings Limited<br>
                211 Upper Bukit Timah Road<br>
                Singapore 588182</p>
              <ul>
                <li>Tel: <a href="tel:+65 6849 5888">+65 6849 5888</a></li>
                <li>Fax: +65 6462 0186</li>
                <li>E-mail: <a href="mailto:ir@banyantree.com">ir@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Company Secretary</h4>
              <p>Jane Teah<br>
                Assistant Vice President,<br>
              Company Secretary</p>
              <ul>
                <li>Tel: <a href="tel:+65 6849 5886">+65 6849 5886</a></li>
                <li>Fax: +65 6462 0186</li>
                <li>E-mail: <a href="mailto:jane.teah@banyantree.com">jane.teah@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Group Sales &amp; Marketing</h4>
              <p>211 Upper Bukit Timah Road<br>
              Singapore 588182</p>
              <ul>
                <li>Tel: <a href="tel:+65 6389 1381">+65 6389 1381</a></li>
                <li>Fax: +65 6462 2800</li>
                <li>E-mail: <a href="mailto:pr@banyantree.com">pr@banyantree.com</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Business Development</h4>
              <p>Jackson Tan</p>
              <ul>
                <li>Tel: <a href="tel:+65 6389 1381">+65 6389 1381</a></li>
                <li>Fax: +65 6462 0186</li>
                <li>E-mail: <a href="mailto:bd@banyantree.com">bd@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Corporate Investment</h4>
              <p>Clement Ong</p>
              <ul>
                <li>Tel: <a href="tel:+65 6849 5792">+65 6849 5792</a></li>
                <li>Fax: +65 6462 0186</li>
                <li>E-mail: <a href="mailto:clement.ong@banyantree.com">clement.ong@banyantree.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="contact__detail">
              <h4>Business Development (China)</h4>
              <p>Shanghai Office<br>
              Mr. Philip Lim / Ms. Catherine Zhu</p>
              <ul>
                <li>tel: <a href="tel:+86 21 6335 2929">+86 21 6335 2929 x 357 / +86 21 6335 2929 ext 502</a></li>
                <li>fax: +86 21 6335 0658</li>
                <li>e-mail:
                  <a href="mailto:peter.wong@banyantree.com">peter.wong@banyantree.com</a> /
                  <a href="mailto:catherine.zhu@banyantree.com">catherine.zhu@banyantree.com</a>
                </li>
              </ul>
              <p>Yunnan Office<br>
              Ms. Andy Lei / Ms. Maggie Gao Qiong</p>
              <ul>
                <li>tel: <a href="tel:+86 888 533 1111">+86 888 533 1111</a></li>
                <li>fax: +86 888 533 2222</li>
                <li>e-mail:
                  <a href="mailto:andy.lei@banyantree.com">andy.lei@banyantree.com</a> /
                  <a href="mailto:maggie.gaoqiong@banyantree.com">maggie.gaoqiong@banyantree.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

{{/content}}

{{/extend}}
