{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Best Price Guarantee</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Best Price Guarantee Claim Form</h1>
        <hr class="rule" />
        <p>&nbsp;</p>
        <form>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-primary">Guest Information</p>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputFirstName" placeholder="First Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputContact" class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputContact" placeholder="Phone Number">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-primary">Hotel Information</p>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">Hotel Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputHotelName" placeholder="Hotel Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Full Name on Reservation</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputReserveName" placeholder="Full Name on Reservation">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputContact" class="col-sm-4 col-form-label">Confirmation Number</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputConfirmation" placeholder="Confirmation Number">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Check-in Date</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputCheckin">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Check-out Date</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputCheckout">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputContact" class="col-sm-4 col-form-label">Number of Guest</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputGuest" min="1" placeholder="Number of Guest">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">Banyan Tree Website</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputBanyanSite" placeholder="Banyan Tree Website">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">Currency</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputCurrency" placeholder="Currency">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">Room Type Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputRoomType" placeholder="Room Type Name">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-12 col-form-label">In order to process the claim, please include the website link where the competing rate was bookable Example: www.website.com/hotel/rate/rate.asp</label>
                <div class="col-sm-12">
                  <input type="name" class="form-control" id="inputReference" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Check-in Date</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputReferenceCheckin">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Check-out Date</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputReferenceCheckout">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputContact" class="col-sm-4 col-form-label">Number of Guest</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputReferenceGuest" placeholder="Number of Guest">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">Competing Rate</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputCompetingRate" placeholder="Competing Rate">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">Currency</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputReferenceCurrency" placeholder="Currency">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">Room Type Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputReferenceRoomType" placeholder="Room Type Name">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label for="inputText" class="col-sm-2 col-form-label">Comments</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="BestPriceComments" rows="4"></textarea>
                  <br>
                  <div class="form-group row">
                    <label class="col-sm-5">I accept the <a href="#"> terms and conditions </a></label>
                    <div class="col-sm-7">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <button type="submit" class="pull-right button button--secondary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <img src="assets/img/logo-bestprice-182x62.png" alt="Best Price Guarantee">
      </aside>
    </div>
  </div>
</section>
{{/content}}

{{/extend}}
