{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="hero">
  <div class="bg" style="background-image: url('assets/img/banner-p-event.jpg')"></div>
  <div class="bg bg--sm" style="background-image: url('assets/img/banner-p-event-lg.jpg')"></div>
</section>
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Huangshan </a></li>
          <li class="active">Event</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>MEANINGFUL CONNECTIONS LIKE NO OTHER</h1>
        <hr class="rule" />
        <p class="text-primary"><em>A ceremony crafted in love and weaved in beauty to symbolise your wedded love</em></p>
        <p>Let your imagination run wild and we will do the rest. Our dedicated Events Team pulls out all stops to host a social gathering that sets the benchmark. Plan a grand gala event in the heart of the city, or an intimate dinner affair on a remote beach. Our resorts have exclusive spaces that can be transformed to fit any theme or décor. Every detail, from event production to execution will be handled with flair with finesse, leaving you with a stress-free experience.</p>
        <p class="text-primary"><em>Fun and games</em></p>
        <p>Host an elegant reception with the help of our event and banquet management team. Pick the brains of your dedicated event manager to conjure a themed party at Banyan Tree. We organise events that leave a lasting impression on guests with costumes for invitees, unique event locations, and personalised dining menus. You play the gracious host for the evening, while we look into the details of staging a grand social event.</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Request for Proposal</button>
          <button class="button button--primary">Find Event Venue</button>
          <button class="button button--primary">Overall Floorplan</button>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
        </div>
      </aside>


    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
        <p>&nbsp;</p>
        <h2 class="section-title">Business Meets Rejuvenation</h2>
        <hr class="rule rule--ornament" />
        <div class="col-lg-12 text-center">
          <div class="chart-title">
            <h3>Indoor</h3>
          </div>
          <table class="chart chart--floorplan">
            <thead>
              <tr>
                <th><span>Properties</span></th>
                <th><span>Size</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-roundtable-sm"></i>Round Table</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-classroom-sm"></i>Classroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-theatre-sm"></i>Theatre</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-ushape-sm"></i>U-shape</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-boardroom-sm"></i>Boardroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-cocktail-sm"></i>Cocktail</span></th>
                <th><span>Others</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>Boardroom</p>
                  <div class="actions">
                    <a href="#"><i class="icon icon--ui-camera"></i>View photos</a>
                    <a href="#"><i class="icon icon--ui-download"></i>Floor plan</a>
                  </div>
                  <a href="#" class="anchor"><small>Find out more &gt;</small></a>
                </td>
                <td>30m<sup>2</sup> / 936sqft</td>
                <td class="chart__spot">10</td>
                <td class="chart__spot">20</td>
                <td class="chart__spot">25</td>
                <td class="chart__spot">8</td>
                <td class="chart__spot">12</td>
                <td class="chart__spot">11</td>
                <td>
                  <div>Car Access</div>
                  <div>Natural Light</div>
                  <div>Big TV</div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="chart chart--floorplan">
            <thead>
              <tr>
                <th><span>Properties</span></th>
                <th><span>Size</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-roundtable-sm"></i>Round Table</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-classroom-sm"></i>Classroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-theatre-sm"></i>Theatre</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-ushape-sm"></i>U-shape</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-boardroom-sm"></i>Boardroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-cocktail-sm"></i>Cocktail</span></th>
                <th><span>Others</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>Boardroom</p>
                  <div class="actions">
                    <a href="#"><i class="icon icon--ui-camera"></i>View photos</a>
                    <a href="#"><i class="icon icon--ui-download"></i>Floor plan</a>
                  </div>
                  <a href="#" class="anchor"><small>Find out more &gt;</small></a>
                </td>
                <td>30m<sup>2</sup> / 936sqft</td>
                <td class="chart__spot">10</td>
                <td class="chart__spot">20</td>
                <td class="chart__spot">25</td>
                <td class="chart__spot">8</td>
                <td class="chart__spot">12</td>
                <td class="chart__spot">11</td>
                <td>
                  <div>Car Access</div>
                  <div>Natural Light</div>
                  <div>Big TV</div>
                </td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <p><a href="#" class="anchor">Download Overall Floorplan &gt;</a></p>
        </div>
        <div class="col-lg-12 text-center">
          <div class="chart-title">
            <h3>Outdoor</h3>
          </div>
          <table class="chart chart--floorplan">
            <thead>
              <tr>
                <th><span>Properties</span></th>
                <th><span>Size</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-roundtable-sm"></i>Round Table</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-classroom-sm"></i>Classroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-theatre-sm"></i>Theatre</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-ushape-sm"></i>U-shape</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-boardroom-sm"></i>Boardroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-cocktail-sm"></i>Cocktail</span></th>
                <th><span>Others</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>Boardroom</p>
                  <div class="actions">
                    <a href="#"><i class="icon icon--ui-camera"></i>View photos</a>
                    <a href="#"><i class="icon icon--ui-download"></i>Floor plan</a>
                  </div>
                  <a href="#" class="anchor"><small>Find out more &gt;</small></a>
                </td>
                <td>30m<sup>2</sup> / 936sqft</td>
                <td class="chart__spot">10</td>
                <td class="chart__spot">20</td>
                <td class="chart__spot">25</td>
                <td class="chart__spot">8</td>
                <td class="chart__spot">12</td>
                <td class="chart__spot">11</td>
                <td>
                  <div>Car Access</div>
                  <div>Natural Light</div>
                  <div>Big TV</div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="chart chart--floorplan">
            <thead>
              <tr>
                <th><span>Properties</span></th>
                <th><span>Size</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-roundtable-sm"></i>Round Table</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-classroom-sm"></i>Classroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-theatre-sm"></i>Theatre</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-ushape-sm"></i>U-shape</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-boardroom-sm"></i>Boardroom</span></th>
                <th class="chart__spot"><span><i class="icon icon--facility-cocktail-sm"></i>Cocktail</span></th>
                <th><span>Others</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>Boardroom</p>
                  <div class="actions">
                    <a href="#"><i class="icon icon--ui-camera"></i>View photos</a>
                    <a href="#"><i class="icon icon--ui-download"></i>Floor plan</a>
                  </div>
                  <a href="#" class="anchor"><small>Find out more &gt;</small></a>
                </td>
                <td>30m<sup>2</sup> / 936sqft</td>
                <td class="chart__spot">10</td>
                <td class="chart__spot">20</td>
                <td class="chart__spot">25</td>
                <td class="chart__spot">8</td>
                <td class="chart__spot">12</td>
                <td class="chart__spot">11</td>
                <td>
                  <div>Car Access</div>
                  <div>Natural Light</div>
                  <div>Big TV</div>
                </td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <p><a href="#" class="anchor">Download Overall Floorplan &gt;</a></p>
        </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <p>&nbsp;</p>
    <div class="text-center">
      <h2 class="section-title">Our Offering To You</h2>
    </div>
    <hr class="rule rule--ornament" />
    <div class="cards cards--grid">
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/p-event-1.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Half-Day Meeting Package</h4>
            <hr class="rule rule--centered">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/p-event-2.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Full-Day Meeting Package</h4>
            <hr class="rule rule--centered">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/p-event-3.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Meet for Good</h4>
            <hr class="rule rule--centered">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/p-event-4.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Request for Proposal</h4>
            <hr class="rule rule--centered">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
          </div>
        </a>
      </div>
      <div class="col-lg-12 text-center">
        <a href="#" class="anchor">View All &gt;</a>
      </div>
    </div>

  </div>
</section>
{{/content}}
{{/extend}}
