{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Banyan Tree Huangshan </a></li>
          <li class="active">Rooms &amp; Villas</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="cards-filter">
      <button class="button button--secondary" id="buttonCompare" disabled>Compare (<span>0</span>)</button>
      <div class="input-radio">
        <div class="radio radio--inline">
          <input type="radio" value="all" id="filter_all" name="accommodation" checked />
          <label for="filter_all"> All</label>
        </div>
        <div class="radio radio--inline">
          <input type="radio" value="villa" id="filter_villas" name="accommodation" />
          <label for="filter_villas"> Villas</label>
        </div>
        <div class="radio radio--inline">
          <input type="radio" value="room" id="filter_rooms" name="accommodation" />
          <label for="filter_rooms"> Rooms</label>
        </div>
      </div>
    </div>
    <div class="cards cards--grid slides--card">
      <div class="card card--leftie compare" data-accommodation="villa">
        <div class="card__head compare__toggle">
          <div class="card__head__flag">Limited Rooms</div>
          <img src="assets/img/room-1-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>
          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--leftie compare" data-accommodation="room">
        <div class="card__head compare__toggle">
          <img src="assets/img/room-2-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>
          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--leftie compare" data-accommodation="room">
        <div class="card__head compare__toggle">
          <img src="assets/img/room-3-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>

          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>

        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--leftie compare" data-accommodation="villa">
        <div class="card__head compare__toggle">
          <img src="assets/img/room-4-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>
          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--leftie compare" data-accommodation="villa">
        <div class="card__head compare__toggle">
          <img src="assets/img/room-1-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>
          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--leftie compare" data-accommodation="villa">
        <div class="card__head compare__toggle">
          <img src="assets/img/room-2-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>
          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--leftie compare" data-accommodation="room">
        <div class="card__head compare__toggle">
          <img src="assets/img/room-3-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>
          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--leftie compare" data-accommodation="villa">
        <div class="card__head compare__toggle">
          <img src="assets/img/room-4-thumb.jpg" alt="Two Bedroom Lucun Villa">
        </div>
        <div class="card__body">
          <h5>Two Bedroom Lucun Villa</h5>
          <hr class="rule">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <ul class="pile">
            <li><i class="icon icon--room-cap-i"></i> Capacity: 4</li>
            <li><i class="icon icon--room-bed-i"></i> Beds: King</li>
            <li><i class="icon icon--room-size-i"></i> Size: 113sqm</li>
            <li><i class="icon icon--room-view-i"></i> View: Mountain View</li>
            <li><i class="icon icon--room-pool-i"></i> Swimming Pool</li>
            <li><i class="icon icon--room-rate-i"></i> Rate: from $1,234</li>
          </ul>
          <p class="card__link"><a class="anchor" href="#">View more ></a></p>
          <div class="addon">
            <button class="button button--outlined">Floor plan</button>
            <h6>Room Features</h6>
            <ul>
              <li>Ut lobortis lorem risus </li>
              <li>risus Ac mattis elit</li>
              <li>elit varius sed Nunc</li>
              <li>Aenean euismod arcu</li>
            </ul>
          </div>
        </div>
        <div class="card__footer">
          <div class="buttons">
            <button class="button button--outlined">Book now</button>
            <button class="button button--outlined compare__toggle">+ Add to Compare List</button>
          </div>
        </div>
      </div>
      <div class="card card--filler"></div>
    </div>
  </div>
  </div>
  </div>
</section>

<div class="modal modal--compare fade" id="roomsModal" tabindex="-1" role="dialog" aria-labelledby="roomsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="button button--close-lg" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Compare Villas &amp; Rooms</h4>
        <hr class="rule rule--ornament-inverse">
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" /> {{/content}} {{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/compare.js"></script>
<script>
  function initFilters() {
    var $filter = $('[name=accommodation]');
    var $cards = $('.card[data-accommodation]');

    $filter.on('change', function (e) {
      var accommodation = $(this).val()

      $cards.show();
      $('.compare').trigger('compare.reset');

      if (accommodation != 'all') {
        $cards.not('[data-accommodation=' + accommodation + ']').hide();
      }
    });
  }

  $(function () {
    initFilters();
    var compare = new Compare();
  });

</script>
{{/content}}
{{/extend}}
