{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">Find a Hotel</a></li>
          <li><a href="">Seychellas</a></li>
          <li class="active">Banyan Tree Seychelles</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>royal pavilion by banyan tree, kuala lumpur (opening in april, 2018)</h1>
        <hr class="rule" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ipsum, vestibulum ut tristique a, suscipit vel justo. Ut vel mollis nunc, in facilisis sapien. Cras ullamcorper in ex vel interdum. Curabitur lobortis ligula massa, quis congue lectus lacinia a. Pellentesque accumsan luctus eleifend. Vestibulum ornare metus at nisi dignissim varius
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ipsum, vestibulum ut tristique a, suscipit vel justo. Ut vel mollis nunc, in facilisis sapien. Cras ullamcorper in ex vel interdum. Curabitur lobortis ligula massa, quis congue lectus lacinia a. Pellentesque accumsan luctus eleifend. Vestibulum ornare metus at nisi dignissim varius
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante ipsum, vestibulum ut tristique a, suscipit vel justo. Ut vel mollis nunc, in facilisis sapien. Cras ullamcorper in ex vel interdum. Curabitur lobortis ligula massa, quis congue lectus lacinia a. Pellentesque accumsan luctus eleifend. Vestibulum ornare metus at nisi dignissim varius </p>
        <p>&nbsp;</p>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">How To Get There</button>
          <button class="button button--primary">Fact Sheet</button>
          <button class="button button--primary">Contact Hotel</button>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
          <p><a href="#">View Resort Map ></a></p>
        </div>

      </aside>
    </div>
  </div>
</section>

<section class="special-occasion">
  <div class="container">
    <h2 class="section-title">FACILITIES & SERVICES</h2>
    <hr class="rule rule--ornament" />
    <p class="lead">We offer an extensive range of services and facilities, supported by experiences staff.<br>Please contact us if you require a service not listed here.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>

<section class="special-occasion">
  <div class="container">
    <h2 class="section-title">HOW TO GET THERE</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
</section>
<p>&nbsp;<p/>

<section class="offers">
  <div class="container">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h2 class="section-title">OUR ROOMS & VILLAS</h2>
  <hr class="rule rule--ornament" />
  <p>&nbsp;</p>
  <div class="cards cards--grid">
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-25.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-26.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-27.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-28.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
  </div>
  </div>
</section>

<section class="offers">
  <div class="container">
  <h2 class="section-title">OUR DINNING OPTIONS</h2>
  <hr class="rule rule--ornament" />
  <p>&nbsp;</p>
  <div class="cards cards--grid">
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-29.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-30.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-31.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-thumb-32.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Lorem ipsum</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
        </div>
      </a>
    </div>
  </div>
  </div>
</section>
<p>&nbsp;</p>
<p>&nbsp;</p>

{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}}

{{/extend}}
