{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Banyan Tree Huangshan </a></li>
          <li class="active">Activities</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Things TO DO FOR COUPLES</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Ut lobortis lorem risus, ac mattis elit varius sed.</em></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut sagittis dolor. Vivamus a maximus dui. Pellentesque at nulla varius, scelerisque magna et, egestas turpis. Donec fringilla eget sapien rutrum suscipit. Etiam molestie consequat augue, eget pharetra arcu consequat eget. Vestibulum egestas euismod libero.</p>

        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Slide 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Slide 2"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Slide 3"></a>
          </div>
        </div>
        <p>&nbsp;</p>

        <article>
          <span class="circle">1</span>
          <h2>Hui Heritage</h2>
          <hr class="rule" />
          <p>Explore the ancient villages of Xidi and Hongcun, treasured UNESCO World Heritage Sites,
            and experience the cultural and historical legacy of the Hui heritage on full display.</p>
          <div class="media">
            <img src="assets/img/opening-1.jpg" alt="Two bedroom Hongcun Villa 1" />
          </div>
        </article>

        <article>
          <span class="circle">2</span>
          <h2>Mount Huangshan</h2>
          <hr class="rule" />
          <p>Trek up Mount Huangshan and witness the magnificent sunrise phenomenon "Buddha's Light"</p>
          <div class="media">
            <img src="assets/img/opening-2.jpg" alt="Two bedroom Hongcun Villa 1" />
          </div>
        </article>

        <article>
          <span class="circle">3</span>
          <h2>Hui Culture</h2>
          <hr class="rule" />
          <p>Unlock a museum with more than 2,000years splendid Hui cultures, Huangshan City present Hui Carving,
            painting, architecture, cuisine and opera to home and abroad.</p>
          <div class="media">
            <img src="assets/img/opening-3.jpg" alt="Two bedroom Hongcun Villa 1" />
          </div>
        </article>


      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__links">
          <ul class="nav nav--sidebar">
            <li><a href="/">10 Things To Do For Couples</a></li>
            <li><a href="/">10 Things To Do For Families</a></li>
            <li><a href="/">Local Culture and Celebrations</a></li>
            <li><a href="/">Local Culture and Sights</a></li>
            <li><a href="/">3-Day Itinerary</a></li>
            <li><a href="/">4-Day Itinerary</a></li>
          </ul>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
        </div>

      </aside>
    </div>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
