{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Banyan Tree Huangshan </a></li>
          <li><a href="">Offers</a></li>
          <li class="active">Advance Purchese</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>ADVANCE PURCHASE</h1>
        <hr class="rule" />
        <p><em>From now until 31 May 2017 <br> Extended fun and adventure when you enjoy a free night on us.</em></p>

        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
          </div>
        </div>

        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
          </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id fermentum dui. Maecenas egestas porta pretium.
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque vitae purus eget
          lacus sagittis elementum ut et justo. Nunc est eros, ullamcorper eu purus vel, euismod tristique ipsum. Duis volutpat
          quis</p>
        <div class="tnc">
          <a class="anchor tnc__handle">Terms and conditions</a>
          <div class="tnc__body">

            <h3>Terms and Conditions</h3>
            <p>Elit necessitatibus repudiandae aut rem esse laboriosam. Eligendi quam sapiente minima tempora tenetur aperiam qui facere labore. Dolor consequuntur fuga veritatis eius illum. Accusantium unde eligendi sed quam consequuntur sequi.</p>
            <p>Adipisicing rerum eaque porro ut sit laborum illo! Repudiandae totam perspiciatis minus sequi consequuntur, fugit qui doloribus debitis. Eum suscipit velit in quo labore. Deleniti debitis minima sunt nobis molestiae.</p>
          </div>
        </div>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Check Availability</button>
        </div>
        <div class="sidebar__links">
          <p><em>Explore more:</em></p>
          <ul class="nav nav--sidebar">
            <li><a href="/">The Credit Goes To You</a></li>
            <li><a href="/">Night On Us</a></li>
            <li><a href="/">Early Bird Offer</a></li>
          </ul>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

      </aside>
    </div>
  </div>
</section>

<section class="offers">
  <div class="container">
  <h2 class="section-title">Uncover our offers</h2>
  <hr class="rule rule--ornament" />
  <p class="lead">A Rewarding Experience in Every Way.</p>
  <p>&nbsp;</p>
  <div class="cards cards--grid">
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-offers-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Night on us</h4>
          <hr class="rule rule--centered">
          <p>Ignite the spark with your loved one. Experience an interlude of romance in your sanctuary.</p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-offers-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Credit Goes To You</h4>
          <hr class="rule rule--centered">
          <p>Cherish family moments together. Spend quality time and reconnect.</p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-offers-3.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Sense Of Rejuvenation</h4>
          <hr class="rule rule--centered">
          <p>Rejuvenate body, mind and soul in your perfect sanctuary.</p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/">
        <div class="card__head">
          <img src="assets/img/card-offers-4.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Meaningful Connections</h4>
          <hr class="rule rule--centered">
          <p>Where business meets rejuvenation. There is a Banyan Tree for all your event needs.</p>
        </div>
      </a>
    </div>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  </div>
</section>

{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
