{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="hero">
  <div class="slides slides--hero">
    <div class="slide">
      <div class="bg" style="background-image: url('assets/img/slide-1.jpg')"></div>
      <div class="bg bg--sm" style="background-image: url('assets/img/slide-1-wide.jpg')"></div>
    </div>

    <div class="slide">
      <div class="bg" style="background-image: url('assets/img/slide-1.jpg')"></div>
      <div class="bg bg--sm" style="background-image: url('assets/img/slide-1-wide.jpg')"></div>
    </div>
  </div>
  <div class="hero__footer">
    <div class="container">
      <div class="hero-info hero-info--title">
        <p><em>Mahe, Seychelles</em></p>
        <hr class="rule">
        <h2>
          <i class="icon icon--motif--md" style="background-image:url(assets/img/icon-motif-white.png)"></i>
          <i class="icon icon--motif" style="background-image:url(assets/img/icon-motif.png)"></i>
          SEYCHELLES
        </h2>
      </div>
      <div class="hero-info hero-info--status">
        <div>
          <i class="icon icon--hero-time"></i>
          <span class="data-time-hour">00</span><span class="data-time-separator">:</span><span class="data-time-minute">00</span>
        </div>
        <div><i class="wi"></i> <span class="data-weather"></span>&deg;C</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <form action="#" id="booking">
      <button type="button" class="booking__toggle button button--primary">Book now</button>

      <div class="booking">
        <div class="booking__field">
          <select id="booking_destination" name="destination">
            <optgroup label="China">
              <option value="1">Banyan Tree Chongqing Beibei</option>
              <option value="2" selected>Banyan Tree Hangzhou</option>
              <option value="3">Banyan Tree Huangshan</option>
              <option value="4">Banyan Tree Jiuzhaigou</option>
              <option value="5">Banyan Tree Shanghai On The Bund</option>
            </optgroup>
            <optgroup label="Laos">
              <option value="6">Banyan Tree Chongqing Beibei</option>
              <option value="7">Banyan Tree Hangzhou</option>
              <option value="8">Banyan Tree Huangshan</option>
              <option value="9">Banyan Tree Jiuzhaigou</option>
              <option value="10">Banyan Tree Shanghai On The Bund</option>
              <option value="11">Banyan Tree Philippines</option>
            </optgroup>
          </select>
        </div>

        <div class="booking__field">
          <input type="text" placeholder="Select a date" name="daterange" />
          <input type="date" placeholder="Check in" name="daterange_in" />
          <input type="date" placeholder="Check out" name="daterange_out" />
        </div>

        <div class="booking__field">
          <div class="multiinput">
            <a class="multiinput__handle"><span>Rooms/Guests</span></a>
            <div class="multiinput__inputs">
              <label for="rooms">
                <span>Rooms</span>
                <input type="number" name="rooms" min="0" />
              </label>
              <label for="adults">
                <span>Adults</span>
                <input type="number" name="adults" min="0" />
              </label>
              <label for="children">
                <span>Children</span>
                <input type="number" name="children" min="0" />
              </label>
            </div>
          </div>
        </div>

        <div class="booking__field">
          <input type="text" placeholder="Promo code" />
        </div>

        <div class="booking__field">
          <button type="submit" class="button button--primary">Book now</button>
        </div>

        <div class="booking__field">
          <a href="#">
            <i class="icon icon--bestprice"></i>
          </a>
        </div>

        <div class="booking__field">
          <button type="button" class="button button--text">Modify booking</button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="/">Find a Hotel</a></li>
          <li><a href="/">Seychelles</a></li>
          <li class="active">Banyan Tree Seychelles</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>WELCOME TO BANYAN TREE seychelles</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Ut lobortis lorem risus, ac mattis elit varius sed. </em></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut sagittis dolor. Vivamus a maximus dui. Pellentesque at nulla varius, scelerisque magna et, egestas turpis. Donec fringilla eget sapien rutrum suscipit. Etiam molestie consequat augue, eget pharetra arcu consequat eget. Vestibulum egestas euismod libero. Sed posuere erat sed elementum ornare. Cras mattis sapien sed dapibus lacinia. Fusce cursus molestie turpis, ornare dictum sapien imperdiet et. Maecenas id lorem ut justo vulputate auctor.</p>
        <p>Mauris hendrerit accumsan sodales. In a pharetra sem. Morbi aliquam bibendum ligula ut dapibus. Pellentesque nec massa ut nisl cursus sollicitudin. Sed mattis tortor non maximus luctus. Maecenas sit amet lacus ante. In laoreet nibh ipsum, eget pharetra sem suscipit ut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut sagittis dolor. Vivamus a maximus dui. Pellentesque at nulla varius, scelerisque magna et, egestas turpis. Donec fringilla eget sapien rutrum suscipit. Etiam molestie consequat augue, eget pharetra arcu consequat eget. Vestibulum egestas euismod libero. Sed posuere erat sed elementum ornare. Cras mattis sapien sed dapibus lacinia. Fusce cursus molestie turpis, ornare dictum sapien imperdiet et. Maecenas id lorem ut justo vulputate auctor.</p>
        <p>&nbsp;</p>
        <p>
          <em><span class="text-primary">Check in Time</span> : 23:00</em>&emsp;
          <em><span class="text-primary">Check out Time</span> : 23:00</em>
        </p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">How to get there</button>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
        <div class="sidebar__awards">
          <img src="assets/img/certificate-of-excellence-2017.png" alt="">
          <p>Also a winner of 10 of awards in 2017,</p>
          <a href="#">View Details</a>
        </div>
        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
          <p><a href="#">View Resort Map &gt;</a></p>
        </div>
      </aside>
    </div>
  </div>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">Your Sanctuary for the Senses</h2>
    </div>
    <hr class="rule rule--ornament" />

    <p>&nbsp;</p>
  </div>
  <div class="story slides--full">
   <figure>
      <div class="media">
        <a class="slide__video" href="http://v.youku.com/v_show/id_XMzA1NzE5NTM0MA==.html" title="Youku Video" data-preview="assets/img/room-1-1.jpg"></a>
      </div>
      <figcaption>
        <h4>Amenities</h4>
        <hr class="rule rule--centered">
        <p>Ipsum odio commodi ex voluptatum pariatur. Repellendus dolorem veritatis optio dolores cupiditate excepturi aperiam omnis porro esse molestiae deserunt libero..</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-wedding-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Rooms and Villas</h4>
        <hr class="rule rule--centered">
        <p>A villa that is deeply blended into the picturesque charm of the ancient mountain. Walking behind the sheer white wall - a signature Hui-Style touch, there is a peaceful sanctuary only for yours to explore.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-wedding-2.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Accommodation</h4>
        <hr class="rule rule--centered">
        <p>Consectetur consequuntur dolorem doloremque accusamus nesciunt eligendi ullam. Asperiores maxime earum voluptatem eius quas? Perspiciatis nostrum dicta expedita explicabo adipisci vel aspernatur.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-wedding-3.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Amenities</h4>
        <hr class="rule rule--centered">
        <p>Ipsum odio commodi ex voluptatum pariatur. Repellendus dolorem veritatis optio dolores cupiditate excepturi aperiam omnis porro esse molestiae deserunt libero..</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>

  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">Facilities &amp; Services</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p class="text-center"><em>Quisque varius eu eros ac rutrum.
Quisque in leo dignissim</em></p>
    <p>&nbsp;</p>
    <ul class="spread spread--amenities">
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> Wildlife Conservation &amp; Rehabilitation</li>
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> Water Sports Centre</li>
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> Yoga Pavilion</li>
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> Fitness Centre</li>
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> Indoor Pool</li>
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> Bike Hire</li>
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> Free Wi-fi</li>
      <li><i class="icon icon--amenity" style="background-image: url('/assets/img/icon-amenity.png')"></i> In-room dining</li>
    </ul>
    <br>
    <p class="text-center"><a href="#" class="anchor">Find out more &gt;</a></p>
    <p>&nbsp;</p>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">Our Packages</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p class="lead">A Rewarding Experience in Every Way.</p>
    <p>&nbsp;</p>

    <div class="slides--card cards cards--grid">
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/card-offers-1.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Sense Of Romance</h4>
            <hr class="rule rule--centered">
            <p>Ignite the spark with your loved one. Experience an interlude of romance in your sanctuary.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/card-offers-2.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Sense of Family</h4>
            <hr class="rule rule--centered">
            <p>Cherish family moments together. Spend quality time and reconnect.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/card-offers-3.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Sense Of Rejuvenation</h4>
            <hr class="rule rule--centered">
            <p>Rejuvenate body, mind and soul in your perfect sanctuary.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/">
          <div class="card__head">
            <img src="assets/img/card-offers-4.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4>Meaningful Connections</h4>
            <hr class="rule rule--centered">
            <p>Where business meets rejuvenation. There is a Banyan Tree for all your event needs.</p>
          </div>
        </a>
      </div>
    </div>

  </div>
  <p class="text-center"><a href="#" class="anchor">View all offers &gt;</a></p>
  <p>&nbsp;</p>
</section>

<section>
  <div class="text-center">
    <h2 class="section-title">Uncover Huangshan</h2>
  </div>
  <hr class="rule rule--ornament" />
  <p>&nbsp;</p>
  <div class="tale slides--tale">
    <figure>
      <div class="media">
        <img src="assets/img/story-mini-1.jpg" alt="Story 1" />
      </div>
      <figcaption>
        <h4>Sense of Place</h4>
        <hr class="rule rule--centered">
        <p>Step into the vein of historical discovery with a deeper understanding of the Four Anhui Carvings. These brick, timber, stone and bamboo carving date back more than four centuries, have lasted dynastic reigns and even today, influences the region's architecture and handicrafts.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <img src="assets/img/story-mini-2.jpg" alt="Story 1" />
      </div>
      <figcaption>
        <h4>Destination Tour</h4>
        <hr class="rule rule--centered">
        <p>Select a half-day or full-day city visit itinerary. Travel back in time with a delightful cultural tour of the region's ancient cities and enjoy an authentic Chinese lunch in a historical township.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <img src="assets/img/story-mini-3.jpg" alt="Story 1" />
      </div>
      <figcaption>
        <h4>Destination Dining</h4>
        <hr class="rule rule--centered">
        <p>Take a trek on the wild side with a mountain hike. Discover the history of Huangshan Mountain hand in hand with your beloved. Find your perfect scenic spot and settle in for an oriental al fresco picnic feast like no other.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <img src="assets/img/story-mini-4.jpg" alt="Story 1" />
      </div>
      <figcaption>
        <h4>Engage Adventure</h4>
        <hr class="rule rule--centered">
        <p>Cycle about, hike across and explore the locale. Embark on an intrepid journey of Huangshan's scenery that will broaden your perspectives on global living.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
</section>

<section>
  <div class="text-center">
    <h2 class="section-title">How to get there</h2>
  </div>
  <hr class="rule rule--ornament" />
  <p>&nbsp;</p>
  <div class="directions">
    <div class="map" id="location_view" data-directions></div>
    <div class="directions__detail">
      <div class="direction">
        <div class="direction__icon">
          <img class="icon icon--direction" src="assets/img/icon-plane.png">
        </div>
        <div class="direction__body">
          <h5>From Huangshan Tunxi International Airport</h5>
          <ul>
            <li>Takes appreximately 90 minutes by car</li>
          </ul>
        </div>
      </div>
      <div class="direction">
        <div class="direction__icon">
          <img class="icon icon--direction" src="assets/img/icon-plane.png">
        </div>
        <div class="direction__body">
          <h5>By car</h5>
          <ul>
            <li>From Hangzhou<br> Takes appreximately 3 hours, mostly on the g56 highway.</li>
            <li>From Hefei<br> Takes appreximately 3.5 hours, mostly on the g3 highway.</li>
            <li>FromShanghai<br> Takes appreximately 5 hours by car</li>
          </ul>
        </div>
      </div>
      <div class="direction">
        <div class="direction__icon">
          <img class="icon icon--direction" src="assets/img/icon-plane.png">
        </div>
        <div class="direction__body">
          <h5>By high speed train</h5>
          <ul>
            <li>From Hefei/Fuzhou High Speed Train service, takes 1 hour to Huangshan Station, and 50 minutes by car to the hotel.</li>
            <li>From Hefei/Fuzhou High Speed Train service, takes 1 hour to Huangshan Station, and 50 minutes by car to the hotel.</li>
          </ul>
        </div>
      </div>
      <div class="directions__more">
        <p><a href="#" class="anchor">More information &gt;</a></p>
      </div>
      <div class="forecasts">
        <div class="forecast forecast__1">
          <div class="forecast__day">Today</div>
          <div class="forecast__icon"><i class="wi"></i></div>
          <span>15</span>&deg;C
        </div>
        <div class="forecast forecast__2">
          <div class="forecast__day">-</div>
          <div class="forecast__icon"><i class="wi"></i></div>
          <span>15</span>&deg;C
        </div>
        <div class="forecast forecast__3">
          <div class="forecast__day">-</div>
          <div class="forecast__icon"><i class="wi"></i></div>
          <span>15</span>&deg;C
        </div>
        <div class="forecast forecast__4">
          <div class="forecast__day">-</div>
          <div class="forecast__icon"><i class="wi"></i></div>
          <span>15</span>&deg;C
        </div>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">See what others are saying about us</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
    <div id="widget-f74afa95f49f56ca767fb0482b653682caf6a976b983dd196291dc559e84" data-lmwidget="f74afa95f49f56ca767fb0482b653682caf6a976b983dd196291dc559e84"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
{{/content}}

{{#content "end"}}
<script>
$(function() {
  $('select:not(#language)').chosen({
    disable_search_threshold: 10,
    width: 180
  });

  $('input[name="daterange"]').daterangepicker({
    autoApply: true,
    locale: { format: 'D MMM' },
    minDate: new Date()
  });
});
</script>
<script src="./assets/js/directions.js"></script>
<script>
var BTMAP_IMAGEPATH = 'assets/img/';
var BTMAP_PROPERTY = [
  {
    latLng: { lat: -33.727111, lng: 150.371124 },
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
  }
];
var BTMAP_LANDMARKS = [
  {
    id: '1',
    icon: 'http://btdev.show-our-work.com/-/media/images/facilities/bt-airport-100x100.ashx',
    brand: 'banyan',
    latLng: { lat: -33.8, lng: 151.0 },
    title: 'Huangshan Tunxi International Airport'
  },
  {
    id: '2',
    icon: 'http://btdev.show-our-work.com/-/media/images/facilities/bt-airport-100x100.ashx',
    brand: 'banyan',
    latLng: { lat: -33.9, lng: 150.1 },
    title: 'Hefei/Fuzhou'
  },
  {
    id: '2',
    icon: 'http://btdev.show-our-work.com/-/media/images/transportation/bt-dining-2-100x100.ashx',
    brand: 'banyan',
    latLng: { lat: -33.95, lng: 150.2 },
    title: 'Hefei/Fuzhou'
  }
];
</script>
<script>
  /*
    Configure Property Time
    - timezones: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  */
  var BTTIME = 1506594239609; // Server Time
  var BTTIME_TARGET_UTC = 4; // Target Property Timezone

  /*
    Configure Open Weather
    - http://openweather.org
  */
  var BTOW_API = '3a8daace8a70e88a932f8da3fb718d26'; // Open Weather API key
  var BTOW_CITYID = 1701667; // Manila
</script>
{{/content}}

{{/extend}}
