{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Banyan Tree Huangshan </a></li>
          <li class="active">Offers</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12"></main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>

<section class="special-occasion">
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">OUR OFFERS</h2>
    </div>
    <hr class="rule rule--ornament" />
    <p class="lead">Rediscover the romance of travel at our resorts.</p>
    <p><a href="#" class="logo-bestprice">Best Price Guarantee</a></p>
  </div>
</section>

<section>
  <div class="container">
    <div class="filterview filterview--collapsed filterview--inline filterview--compact">
      <div class="filterview__frame">
        <div class="filterview__toggle">
          <button class="button button--secondary" type="button" id="toggle_filter_button">Filter by</button>
        </div>
        <div class="filters">
          <form id="offers_filter" data-target-view="#offers_filter_view">
            <div class="filter__field">
              <em class="text-primary">Stay from&nbsp;</em>
              <input type="text" placeholder="Select a date" name="offerStartDate">
            </div>
            <div class="filter__field">
              <em class="text-primary">&nbsp;Offer type</em>
              <div class="multiselect">
                <button type="button" class="multiselect__toggle">
                <span>All offer types</span>
              </button>
                <div class="multiselect__options" id="offers_types_options"></div>
              </div>
            </div>
            <div class="filters__action">
              <button id="submitFilter" class="button button--secondary">Apply</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="offers_filter_view">
  <p>&nbsp;</p>
  <div class="drawable">
    <div class="cards-set">
      <div class="cards">
        <div class="card" data-offer-type="Rooms,Spa" data-start-date="0001-01-01" data-end-date="0001-01-01">
          <div class="card__head">
            <div class="card__head__flag">Selling Fast</div>
            <img src="assets/img/wedding-1.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Lijiang</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card" data-offer-type="Spa" data-start-date="2017-10-18" data-end-date="2017-10-30">
          <div class="card__head">
            <img src="assets/img/wedding-2.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Macau</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card" data-offer-type="Dining" data-start-date="2017-10-14" data-end-date="2017-10-14">
          <div class="card__head">
            <img src="assets/img/wedding-3.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Ringha</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card" data-offer-type="Rooms" data-start-date="2017-10-18" data-end-date="2017-10-30">
          <div class="card__head">
            <img src="assets/img/wedding-4.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Sanya</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card" data-offer-type="Dining" data-start-date="2017-10-18" data-end-date="0001-01-01">
          <div class="card__head">
            <img src="assets/img/wedding-1.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Lijiang</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card" data-offer-type="Spa" data-start-date="2017-10-18" data-end-date="2017-10-30">
          <div class="card__head">
            <img src="assets/img/wedding-2.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Macau</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card" data-offer-type="Rooms" data-start-date="2017-10-18" data-end-date="2017-10-30">
          <div class="card__head">
            <img src="assets/img/wedding-3.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Ringha</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card" data-offer-type="Others" data-start-date="2017-10-18" data-end-date="2017-10-30">
          <div class="card__head">
            <img src="assets/img/wedding-4.jpg" alt="Night on us">
          </div>
          <div class="card__body">
            <h4><a href="#">Banyan Tree Sanya</a></h4>
            <hr class="rule rule--centered">
            <p class="text-primary"><em>Big Sky</em></p>
            <p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
          </div>
          <div class="card__footer">
            <div class="card__actions">
              <a href="#">Book now &gt;</a>
              <a href="#">View photos &gt;</a>
            </div>
          </div>
        </div>
        <div class="card card--filler"></div>
      </div>
    </div>

    <div class="cards-message--empty">
      <h3>There is no offer that fits the stay date or type of offer that you are looking for.</h3>
      <p>Please try again with another date or type of offer or <a href="#" data-offer-reset>click here</a> to see all offers available.</p>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/moment.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script>
  $(function() {
    $('input[name="offerStartDate"]').daterangepicker({
      singleDatePicker: true,
      autoUpdateInput: false,
    });
    $('input[name="offerStartDate"]').on('apply.daterangepicker', function(e, picker) {
      $(this).val(picker.startDate.format('YYYY-MM-DD'));
    })
  });
</script>
</script>
{{/content}}

{{/extend}}
