{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Romance &amp; Wedding</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>SPA WELLNESS PROGRAMME</h1>
        <hr class="rule" />
        <p>A Signature Blend of Romance, Rejuvenation and Exotic Sensuality</p>
        <p>Be the envy of your friends and tie the knot in style with a destination wedding. From the dreamy beaches of the Maldives, to the tropical allure of Thailand or the dazzling city lights of Shanghai, Banyan Tree Hotels & Resorts offers a myriad of stunning locales that will make your wedding a most memorable affair.</p>
        <div class="slides slides--inline">
          <div class="slide">
            <img src="assets/img/property-spa-wellness.jpg" alt="Two bedroom Hongcun Villa 1" />
          </div>
        </div>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <p>
          <button class="button button--primary">Check Availability</button>
        </p>

        <div class="sidebar__links">
          <ul class="nav nav--sidebar">
            <li><a href="/">Shop the Banyan Tree Experience</a></li>
            <li><a href="/">Signature Treatment</a></li>
            <li><a href="/">Gift a loved onea</a></li>
            <li><a href="/">Banyan Tree Spa Academy</a></li>
          </ul>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
          <p><a href="#">View Resort Map ></a></p>
        </div>

      </aside>
    </div>
  </div>
</section>

<section class="drawable">
  <div class="container">
    <h2 class="section-title">Find an experience</h2>
    <hr class="rule rule--ornament" />
  </div>

  <div class="drawer">
    <p class="drawer__knob cards-set__title">Theme 1 <i class="icon icon--ui-down icon--vflipped"></i></p>
    <div class="drawer__box console">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-5">
                <img class="img-responsive" src="assets/img/property-spa-wellness.jpg" alt="Two bedroom Hongcun Villa 1" />
              </div>
              <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium soluta, itaque magnam rerum cumque libero sequi odit ipsam expedita architecto mollitia cupiditate sunt doloremque laborum voluptate neque nesciunt, dolore. Esse.</p>
                <p>Ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ea vel placeat, harum iusto eos veniam consequuntur odit fugit saepe est perspiciatis deleniti debitis iste quod labore molestias doloremque nostrum.</p>
                <p><a class="button button--outlined">Download full itinerary</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="drawer">
    <p class="drawer__knob">Theme 2 <i class="icon icon--ui-down icon--vflipped"></i></p>
    <div class="drawer__box console">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-5">
                <img class="img-responsive" src="assets/img/property-spa-wellness.jpg" alt="Two bedroom Hongcun Villa 1" />
              </div>
              <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium soluta, itaque magnam rerum cumque libero sequi odit ipsam expedita architecto mollitia cupiditate sunt doloremque laborum voluptate neque nesciunt, dolore. Esse.</p>
                <p>Ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ea vel placeat, harum iusto eos veniam consequuntur odit fugit saepe est perspiciatis deleniti debitis iste quod labore molestias doloremque nostrum.</p>
                <p><a class="button button--outlined">Download full itinerary</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

<section class="special-occasion">
  <div class="container">
    <h2 class="section-title">SPA OFFERS</h2>
    <hr class="rule rule--ornament" />
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-21.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 1</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-22.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 2</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-23.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 3</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-24.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 4</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}}

{{/extend}}
