{{#extend "layouts/base" property="true"}}
{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Best Price Guarantee</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8">
        <h1>Dining Reservation</h1>
        <hr class="rule" />
        <p>Please fill in the details below to submit your request. We will be in touch with you in a short time to follow up with your request. Alternatively, you can chat with us here.</p>
        <hr class="rule" />
        <div class="row">
          <div class="col-sm-4 col-lg-2">
            <p class="text-primary">Restaurant</p>
          </div>
          <div class="col-sm8 col-lg-10">
            <p class="text-primary">Qing Feng / Huangshan, Anhui Province<p>
          </div>
        </div>
        <p>&nbsp;</p>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Name*</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputContact" class="col-sm-4 col-form-label">Phone Number*</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputContact" placeholder="Phone Number">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputName" class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="dateInput">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputTime" class="col-sm-4 col-form-label">Time of Dining</label>
                <div class="col-sm-8">
                  <select class="form-control" id="selectTime">
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPax" class="col-sm-4 col-form-label">Number of Pax</label>
                <div class="col-sm-8">
                  <select class="form-control" id="selectPax">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group row">
                <label for="inputText" class="col-sm-4 col-md-2 col-form-label">Comments / Other Inquiries</label>
                <div class="col-sm-8 col-md-10">
                  <textarea class="form-control" id="textArea" rows="4"></textarea>
                  <small>Maximum of 500 characters</small>
                </div>
              </div>
            </div>
            <div class="col-lg-12 text-right">
              <div class="buttons">
                <button type="submit" class="button button--secondary">Reserve Now</button>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>

    <br>

  </div>
</section>
{{> partials/rooms-modal}} {{/content}} {{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" /> {{/content}} {{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/compare.js"></script>
<script>
function initFilters() {
  var $filter = $('[name=accommodation]');
  var $cards = $('.card[data-accommodation]');

  $filter.on('change', function(e) {
    var accommodation = $(this).val()

    $cards.show();
    $('.compare').trigger('compare.reset');

    if (accommodation != 'all') {
      $cards.not('[data-accommodation=' + accommodation + ']').hide();
    }
  });
}

$(function() {
  initFilters();
  var compare = new Compare();
});

</script>
{{/content}} {{/extend}}
