{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">Langco</a></li>
          <li><a href="">Wedding &amp; Romance </a></li>
          <li class="active">Deluxe Harmony Package </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>White Dove</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Uncover the tropical beauty of nature on an island made for soulmates.</em></p>
        <p>Be charmed within the sphere of a beautiful island cast adrift on the South China Sea. Come to Banyan Tree Bintan and explore forests lush with life or stroll along sun-touched shores of talcum-white sand with your beloved.</p>
        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/story-wedding-6.jpg" title="White Doves"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/story-wedding-1.jpg" title="Wedding 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/story-wedding-2.jpg" title="Wedding 2"></a>
          </div>
        </div>
        <h2>Space For Every Occasion</h2>
        <hr class="rule" />
        <dl class="inline-definition">
          <dt>Size</dt>
          <dd>87.5sqm / 936sq ft</dd>
          <dt>Ceiling height</dt>
          <dd>4 metre</dd>
          <dt>Pillar</dt>
          <dd>Yes</dd>
          <dt>Location</dt>
          <dd>Indoor</dd>
          <dt>Ambience</dt>
          <dd>Seaview</dd>
        </dl>
        <ul class="infolist">
          <li>
            <i class="icon icon--facility-roundtable"></i>
            <strong class="text-primary">ROUND TABLE</strong>
            <p><i class="icon icon--ui-person"></i> 280</p>
          </li>
          <li>
            <i class="icon icon--facility-classroom"></i>
            <strong class="text-primary">CLASSROOM</strong>
            <p><i class="icon icon--ui-person"></i> 220</p>
          </li>
          <li>
            <i class="icon icon--facility-theatre"></i>
            <strong class="text-primary">THEATRE</strong>
            <p><i class="icon icon--ui-person"></i> 420</p>
          </li>
          <li>
            <i class="icon icon--facility-ushape"></i>
            <strong class="text-primary">U-SHAPE</strong>
            <p><i class="icon icon--ui-person"></i> 75</p>
          </li>
          <li>
            <i class="icon icon--facility-boardroom"></i>
            <strong class="text-primary">BOARDROOM</strong>
            <p><i class="icon icon--ui-person"></i> -</p>
          </li>
          <li>
            <i class="icon icon--facility-cocktail"></i>
            <strong class="text-primary">COCKTAIL</strong>
            <p><i class="icon icon--ui-person"></i> 400</p>
          </li>
        </ul>
        <!-- table specs -->
        <p class="text-primary"><em>Other</em></p>
        <hr class="rule" />
        <p>Flip Chart</p>
        <a href="#" class="anchor">Download Overall Floorplan &gt;</a>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Contact Romance Concierge</button>
        </div>
        <div class="sidebar__links">
          <ul class="nav nav--sidebar">
            <li><a href="/">Romance</a></li>
            <li><a href="/">Intimate Proposal</a></li>
            <li><a href="#">Wedding</a></li>
            <li><a href="/">Blissful Honeymoon</a></li>
          </ul>
          <div class="sidebar__social">
            <p>&nbsp;</p>
            <p><em>Share this:</em></p>
            <ul>
              <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
              <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
              <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
              <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
              <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
              <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
          <p><a href="#">View Resort Map &gt;</a></p>
        </div>
      </aside>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="section-title">ROMANCE PACKAGES</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Find your perfect wedding location</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View all Location &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Intimate Proposals</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Intimate Proposals &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-3.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Blissful Honeymoon</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Blissful Honeymoon &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-4.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Anniversary</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Anniversary &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}


{{/extend}}
