{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Dining</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Dining</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Awaken to a fresh and bountiful breakfast array each morning</em></p>
        <p>Stroll through Ming Yue's welcoming double doors at any time of the day or evening. Pick from the freshest breakfast spread laid out for your delectation, opt from a flavoursome lunch menu or prepare for gastronomic indulgence come dinnertime. At this gracious establishment, the choice is wholly yours.</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="special-occasion">
      <p>&nbsp;</p>
      <div class="cards cards--grid">
        <div class="card">
          <div class="card__head">
            <img src="assets/img/dining-1.jpg" alt="Night on us">
          </div>
          <div class="card__body text-left">
            <h4>Ming Yue</h4>
            <hr class="rule">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <ul class="pile">
              <li><i class="icon icon--dine-fork-i"></i> Cuisine type: Thai Fusion</li>
              <li><i class="icon icon--dine-hanger-i"></i> Attire: Smart casual</li>
              <li><i class="icon icon--dine-clock-i"></i> Operating hours:</li>
            </ul>
            <ul class="sched">
              <li>lunch: 12:00 – 15:00</li>
              <li>Dinner: 18:00 – 23:00</li>
            </ul>
          </div>
          <div class="card__footer text-left">
            <button class="button button--outline">View Details</button>
            <button class="button button--no-stroke">Book Now</button>
          </div>
        </div>
        <div class="card">
          <div class="card__head">
            <img src="assets/img/dining-2.jpg" alt="Night on us">
          </div>
          <div class="card__body text-left">
            <h4>Qing Feng</h4>
            <hr class="rule">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <ul class="pile">
              <li><i class="icon icon--dine-fork-i"></i> Cuisine type: Thai Fusion</li>
              <li><i class="icon icon--dine-hanger-i"></i> Attire: Smart casual</li>
              <li><i class="icon icon--dine-clock-i"></i> Operating hours:</li>
            </ul>
            <ul class="sched">
              <li>lunch: 12:00 – 15:00</li>
              <li>Dinner: 18:00 – 23:00</li>
            </ul>
          </div>
          <div class="card__footer text-left">
            <button class="button button--outline">View Details</button>
          </div>
        </div>
        <div class="card">
          <div class="card__head">
            <img src="assets/img/dining-3.jpg" alt="Night on us">
          </div>
          <div class="card__body text-left">
            <h4>Around Resort</h4>
            <hr class="rule">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <ul class="pile">
              <li><i class="icon icon--dine-fork-i"></i> Cuisine type: Thai Fusion</li>
              <li><i class="icon icon--dine-hanger-i"></i> Attire: Smart casual</li>
              <li><i class="icon icon--dine-clock-i"></i> Operating hours:</li>
            </ul>
            <ul class="sched">
              <li>lunch: 12:00 – 15:00</li>
              <li>Dinner: 18:00 – 23:00</li>
            </ul>
          </div>
          <div class="card__footer text-left">
            <button class="button button--outline">View Details</button>
          </div>
        </div>
        <div class="card">
          <div class="card__head">
            <img src="assets/img/dining-4.jpg" alt="Night on us">
          </div>
          <div class="card__body text-left">
            <h4>Lorem Ipsum</h4>
            <hr class="rule">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <ul class="pile">
              <li><i class="icon icon--dine-fork-i"></i> Cuisine type: Thai Fusion</li>
              <li><i class="icon icon--dine-hanger-i"></i> Attire: Smart casual</li>
              <li><i class="icon icon--dine-clock-i"></i> Operating hours:</li>
            </ul>
            <ul class="sched">
              <li>lunch: 12:00 – 15:00</li>
              <li>Dinner: 18:00 – 23:00</li>
            </ul>
          </div>
          <div class="card__footer text-left">
            <button class="button button--outline">View Details</button>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>
</section>
{{> partials/rooms-modal}} {{/content}} {{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" /> {{/content}} {{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/compare.js"></script>
<script>
function initFilters() {
  var $filter = $('[name=accommodation]');
  var $cards = $('.card[data-accommodation]');

  $filter.on('change', function(e) {
    var accommodation = $(this).val()

    $cards.show();
    $('.compare').trigger('compare.reset');

    if (accommodation != 'all') {
      $cards.not('[data-accommodation=' + accommodation + ']').hide();
    }
  });
}

$(function() {
  initFilters();
  var compare = new Compare();
});

</script>
{{/content}} {{/extend}}
