{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Banyan Tree Huangshan</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>OUR LOCATION</h1>
        <hr class="rule" />
        <div class="directions directions--inline">
          <div class="map" id="location_view" data-directions></div>
          <div class="directions__detail">
            <div>
              <div class="direction">
                <div class="direction__icon">
                  <img class="icon icon--direction" src="assets/img/icon-plane.png">
                </div>
                <div class="direction__body">
                  <h5>From Huangshan Tunxi International Airport</h5>
                  <ul>
                    <li>Takes appreximately 90 minutes by car</li>
                  </ul>
                </div>
              </div>
              <div class="direction">
                <div class="direction__icon">
                  <img class="icon icon--direction" src="assets/img/icon-plane.png">
                </div>
                <div class="direction__body">
                  <h5>By car</h5>
                  <ul>
                    <li>From Hangzhou
                      <br> Takes appreximately 3 hours, mostly on the g56 highway.</li>
                    <li>From Hefei
                      <br> Takes appreximately 3.5 hours, mostly on the g3 highway.</li>
                    <li>FromShanghai
                      <br> Takes appreximately 5 hours by car</li>
                  </ul>
                </div>
              </div>
              <div class="direction">
                <div class="direction__icon">
                  <img class="icon icon--direction" src="assets/img/icon-plane.png">
                </div>
                <div class="direction__body">
                  <h5>By high speed train</h5>
                  <ul>
                    <li>From Hefei/Fuzhou High Speed Train service, takes 1 hour to Huangshan Station, and 50 minutes by car
                      to the hotel.</li>
                    <li>From Hefei/Fuzhou High Speed Train service, takes 1 hour to Huangshan Station, and 50 minutes by car
                      to the hotel.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="direction">
                <div class="direction__icon">
                  <img class="icon icon--direction" src="assets/img/icon-plane.png">
                </div>
                <div class="direction__body">
                  <h5>By high speed train</h5>
                  <ul>
                    <li>From Hefei/Fuzhou High Speed Train service, takes 1 hour to Huangshan Station, and 50 minutes by car
                      to the hotel.</li>
                    <li>From Hefei/Fuzhou High Speed Train service, takes 1 hour to Huangshan Station, and 50 minutes by car
                      to the hotel.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="forecasts">
              <div class="forecast forecast__1">
                <div class="forecast__day">Today</div>
                <div class="forecast__icon">
                  <i class="wi"></i>
                </div>
                <span>15</span>&deg;C
              </div>
              <div class="forecast forecast__2">
                <div class="forecast__day">-</div>
                <div class="forecast__icon">
                  <i class="wi"></i>
                </div>
                <span>15</span>&deg;C
              </div>
              <div class="forecast forecast__3">
                <div class="forecast__day">-</div>
                <div class="forecast__icon">
                  <i class="wi"></i>
                </div>
                <span>15</span>&deg;C
              </div>
              <div class="forecast forecast__4">
                <div class="forecast__day">-</div>
                <div class="forecast__icon">
                  <i class="wi"></i>
                </div>
                <span>15</span>&deg;C
              </div>
              <div class="forecast forecast__5">
                <div class="forecast__day">-</div>
                <div class="forecast__icon">
                  <i class="wi"></i>
                </div>
                <span>15</span>&deg;C
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
        <h1>ABOUT HUANGSHAN</h1>
        <hr class="rule" />
        <p>&quot;Commune with the ones you love best in a perfect sanctuary&quot;</p>
        <p>Housing two king bedrooms at both floors, the Huangshan luxury villa faces the magnificent view of the misty mountain
          and thriving nature extending to the balcony doorway. With a total area of 160 square meters, the villa has a generous
          separate kitchen, a refined dining table, and sets of Hui-style chairs for either family staying and friends gathering.</p>
        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Location 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Location 2"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Location 3"></a>
          </div>
        </div>
        <p>&nbsp;</p>
        <h1>FACTOIDS</h1>
        <hr class="rule" />
        <ul class="infolist">
          <li>
            <img class="icon icon--factoid" src="assets/img/icon-24hour.png">
            <p class="text-primary">FACT 1</p>
            <p>Ut lobortis lorem risus, ac mattis</p>
          </li>
          <li>
            <img class="icon icon--factoid" src="assets/img/icon-24hour.png">
            <p class="text-primary">FACT 2</p>
            <p>Ut lobortis lorem risus, ac mattis</p>
          </li>
          <li>
            <img class="icon icon--factoid" src="assets/img/icon-24hour.png">
            <p class="text-primary">FACT 3</p>
            <p>Ut lobortis lorem risus, ac mattis</p>
          </li>
          <li>
            <img class="icon icon--factoid" src="assets/img/icon-24hour.png">
            <p class="text-primary">FACT 4</p>
            <p>Ut lobortis lorem risus, ac mattis</p>
          </li>
        </ul>
        <p>&nbsp;</p>

        <h1>UT LPBORTIS</h1>
        <hr class="rule" />
        <li>Ut lobortis lorem risus, ac mattis elit varius sed.</li>
        <li>Ut lobortis lorem risus, ac mattis elit varius sed.</li>
        <li>Ut lobortis lorem risus, ac mattis elit varius sed.</li>

        <p>&nbsp;</p>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
        </div>

      </aside>
    </div>
  </div>
</section>
{{/content}}


{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
<script src="./assets/js/moment.js"></script>
<script src="./assets/js/markerclusterer.js"></script>
<script src="./assets/js/directions.js"></script>
<script>
var BTMAP_IMAGEPATH = 'assets/img/';
// var BTMAP_ZOOM = ;
var BTMAP_PROPERTY = [
  {
    latLng: { lat: -33.727111, lng: 150.371124 },
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
  }
];
var BTMAP_LANDMARKS = [
  {
    id: '1',
    icon: 'http://btdev.show-our-work.com/-/media/images/facilities/bt-airport-100x100.ashx',
    brand: 'banyan',
    latLng: { lat: -33.8, lng: 151.0 },
    title: 'Huangshan Tunxi International Airport'
  },
  {
    id: '2',
    icon: 'http://btdev.show-our-work.com/-/media/images/facilities/bt-airport-100x100.ashx',
    brand: 'banyan',
    latLng: { lat: -33.9, lng: 150.1 },
    title: 'Hefei/Fuzhou'
  },
  {
    id: '2',
    icon: 'http://btdev.show-our-work.com/-/media/images/transportation/bt-dining-2-100x100.ashx',
    brand: 'banyan',
    latLng: { lat: -33.95, lng: 150.2 },
    title: 'Hefei/Fuzhou'
  }
];
</script>
<script>
  /*
    Configure Property Time
    - timezones: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  */
  var BTTIME = 1506594239609; // Server Time
  var BTTIME_TARGET_UTC = 4; // Target Property Timezone

  /*
    Configure Open Weather
    - http://openweather.org
  */
  var BTOW_API = '3a8daace8a70e88a932f8da3fb718d26'; // Open Weather API key
  var BTOW_CITYID = 1701667; // Manila
</script>
{{/content}}

{{/extend}}
