{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Spa</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Spa</h1>
        <hr class="rule" />
        <h2>Welcome to Banyan Tree Spa</h2>
        <p class="text-primary"><em>A Sanctuary For The Senses</em></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut sagittis dolor. Vivamus a maximus dui. Pellentesque at nulla varius, scelerisque magna et, egestas turpis. Donec fringilla eget sapien rutrum suscipit. Etiam molestie consequat augue, eget pharetra arcu consequat eget. Vestibulum egestas euismod libero. Sed posuere erat sed elementum ornare. Cras mattis sapien sed dapibus lacinia. Fusce cursus molestie turpis, ornare dictum sapien imperdiet et. Maecenas id lorem ut justo vulputate auctor.</p>
        <p>Mauris hendrerit accumsan sodales. In a pharetra sem. Morbi aliquam bibendum ligula ut dapibus. Pellentesque nec massa ut nisl cursus sollicitudin. Sed mattis tortor non maximus luctus. Maecenas sit amet lacus ante. In laoreet nibh ipsum, eget pharetra sem suscipit ut.</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Reserve Treatment</button>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
        <div class="sidebar__awards">
          <img src="assets/img/certificate-of-excellence-2017.png" alt="">
          <p>Also a winner of 10 of awards in 2017,</p>
          <a href="#">View Details</a>
        </div>
        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
          <p><a href="#">View Resort Map &gt;</a></p>
        </div>
      </aside>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="section-title">Your Sanctuary for the Senses</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <a class="slide__video" href="https://www.youtube.com/embed/MY8-VX_pY8I" title="Spa 1" data-preview="assets/img/story-spa-3.jpg"></a>
      </div>
      <figcaption>
        <h4>Banyan Signature</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-spa-1.jpg" title="Spa 2"></a>
      </div>
      <figcaption>
        <h4>Brand Story</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-spa-2.jpg" title="Spa 3"></a>
      </div>
      <figcaption>
        <h4>Brand Story</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-spa-3.jpg" title="Spa 4"></a>
      </div>
      <figcaption>
        <h4>Brand Story</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <h2 class="section-title">Spa Offers</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 1</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Special Offer 2</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-wellness.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Body Treats</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-body-treats.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Wellness Journeys</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Anniversary &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
