.footer {
  background-color: var(--color-tertiary);
  padding-top: 32px;
  padding-bottom: 16px;
  color: white;
}

.footer__bounds {
  margin: 0 auto;
  padding: 0 15px;

  @media (--bp-md) {
    width: 970px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  @media (--bp-lg) {
    width: 1170px;
  }
}

.footer__copy {
  font-size: 16px;
  text-align: center;

  @media (--bp-md) {
    text-align: left;
  }
}

.footer__links {
  font-size: 16px;
  text-align: center;

  @media (--bp-md) {
    text-align: right;
  }

  & .fence {
    margin-left: 16px;
    margin-right: 10px;
  }

  & a {
    color: white;
    text-decoration: none;
    white-space: pre;

    &:hover {
      color: var(--color-primary);
    }
  }
}
