.gg-hero {
  margin-top: 50px;
  position: relative;
  border-bottom: 4px solid var(--color-primary);

  @media (--bp-md) {
    margin-top: 78px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 75%;

    @media (--bp-sm) {
      padding-bottom: 40%;
    }
  }
}

.gg-hero--gallery {
  & .gg-gallery {
    @media (--bp-md) {
      visibility: visible;
      opacity: 1;
      transition: opacity 1s, visibility 0s linear 0s;
    }
  }
}

.gg-intro {
  background-image: url('../img/global-gallery-intro.jpg') ;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;

  &__entry {
    color: white;
    position: absolute;
    width: 90%;
    background: rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
    line-height:  1.2;

    @media (--bp-md) {
      width: 50%;
    }

    & h1 {
      color: white;
      font-size: 24px;

      @media (--bp-md) {
        font-size: 34px;
      }

      &:after {
        content: none;
      }
    }

    & ul {
      list-style: none;
      padding-left: 0;
      display: none;

      @media (--bp-md) {
        display: inline-block;
      }

      & li {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;

        & i {
          display: block;
          margin-top: 0;
          width: 60px;
          height: 60px;
          border-radius: 999em;
          border: 2px solid var(--color-primary);
          background-color: rgba(0,0,0,0.6);
          margin-bottom: 5px;
        }

        &:hover {
          & i {
            background-color: color(var(--color-primary) a(20%));
            border-width: 6px;
          }
        }
      }
    }
  }
}

.gg-catalog {
  background-color: black;
  position: relative;
  margin-bottom: 80px;

  &:before {
    content: '';
    background-image: url('../img/global-gallery-list-bg.jpg') ;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.2;

    @media (--bp-sm) {
      width: 50%;
    }

    @media (--bp-lg) {
      width: 30%;
    }
  }
}

.gg-catalog--list {
  & .gg-gridview {
    display: none;

    @media (--bp-sm) {
      display: block;
    }
  }
}

.gg-catalog--grid {
  & .gg-listview {
    display: none;

    @media (--bp-sm) {
      display: block;
    }
  }
}

.gg-viewswitch {
  color: white;
  font-style: italic;
  padding: 16px 16px 0;
  font-size: 18px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;

  @media (--bp-sm) {
    display: none;
  }

  & button {
    background: transparent;
    border: 0 none;
    padding: 0;
    cursor: pointer;

    & i {
      margin-top: 0;
    }
  }
}

.gg-listview {
  position: relative;
  overflow: auto;

  @media (--bp-sm) {
    position: absolute;
    width: 50%;
    overflow: scroll;
    height: 100%;
    z-index: 1;
  }

  @media (--bp-lg) {
    width: 30%;
  }

  &__list {

    & h4 {
      color: white;
      position: relative;
      font-size: 24px;
      font-style: italic;
      padding: 0 20px;
      margin: 16px 0 0;
    }

    & ul {
      padding-left: 0;
      margin-bottom: 0;
      position: relative;
    }

    & li {
      border-bottom: 1px dotted #666;
      text-align: right;
      padding: 8px 16px;
      position: relative;

      &:hover {
        background-color: color(var(--color-primary) a(60%));
      }

      & a {
        text-decoration: none;
      }
    }
  }

  &__image {
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 99em;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid var(--color-primary);
  }

  &__entry {
    color: #999;
    font-size: 18px;
    text-align: left;
    padding-left: 90px;
    font-style: italic;
    min-height: 70px;

    & h5 {
      color: white;
      margin-bottom: 0;
      font-style: italic;
      font-size: 20px;
    }
  }

  &__select {
    padding: 20px;

    & .chosen-single {
      color: white;
      font-size: 18px;
      border-bottom-color: var(--color-text);
      text-transform: capitalize;
    }

    & .chosen-results {
      text-transform: capitalize;
    }

    & .chosen-container-active .chosen-single {
      box-shadow: none;
    }

    & .chosen-container {
      display: block;
    }
  }
}

.gg-gridview {
  position: relative;

  @media (--bp-sm) {
    width: 100%;
    padding-left: 50%;
  }

  @media (--bp-lg) {
    padding-left: 30%;
    background-size: 70%;
  }

  &__list {
    overflow: auto;
    padding-left: 0;
    margin-bottom: 0;

    & li {
      overflow: auto;
      position: relative;
      background-size: cover;

      @media (--bp-lg) {
        width: 50%;
        float: left;
      }

      &:after {
        content: '';
        padding-bottom: 75%;
        display: block;
      }

      & a {
        color: inherit;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transition: background 0.75s;
      }
    }

    & li:hover {

      & a {
        background-color: rgba(0,0,0,0.5);
      }

      & .gg-gridview__entry {
        background-color: var(--color-primary);
      }
    }
  }


  &__entry {
    position: absolute;
    bottom: 0;
    background-color: rgba(48, 48, 48, 0.6);
    padding: 20px;
    color: white;
    font-style: italic;
    transition: background 0.75s;
    font-size: 18px;
    letter-spacing: 0.05em;
    width: 100%;

    & h5 {
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  &__more {
    padding: 34px 0 34px;
    text-align: center;
    background: url('../img/global-gallery-grid-bg.jpg');
    background-position: 50% 100%;

    & button {
      background: transparent;
      border: 0 none;
      color: white;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: var(--color-primary);
        text-decoration: underline;
      }
    }
  }
}

.gg-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  &__control {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__thumbs {
    display: table;

    & a {
      background-image: linear-gradient(
        135deg,
        color(var(--color-primary) b(80%)) 0%,
        var(--color-primary) 100%);
      background-size: cover;
      width: 150px;
      height: 90px;
      display: table-cell;
      cursor: pointer;
      opacity: 0.6;

      &:hover, &.active {
        opacity: 1;
      }
    }
  }

  &__entry {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    color: white;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    z-index: 1;

    @media (--bp-md) {
      width: 490px;
      margin-top: -45px;
    }

    & h1 {
      color: white;
      font-size: 34px;
      overflow: hidden;

      &:before, &:after {
        content: '';
        background-color: #fff;
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 30%;
      }

      &:before {
        right: 0.5em;
        margin-left: -50%;
      }

      &:after {
        left: 0.5em;
        margin-right: -50%;
      }

      & span {
        display: inline-block;
      }
    }

    & .lead {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__social {
    padding-top: 10px;

    & a {
      display: inline-block;
      margin: 0 5px;

      & i {
        margin-top: 0;
      }
    }
  }

  &__images {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-color: color(var(--color-primary) b(90%));

    & div {
      background-size: cover;
      background-position: 50% 50%;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1s;
      z-index: 0;

      &.active {
        opacity: 1;
        z-index: 1;
      }
    }
  }

  &__switch {
    float: left;
    width: 25%;
    padding: 20px;

    & p {
      margin-bottom: 0;
      text-transform: capitalize;
      padding-left: 34px;
      color: white;

      & i {
        position: relative;
        left: -26px;
      }
    }

    & > a {
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      text-transform: capitalize;
      padding-left: 34px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.gg-gallery__control {
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}
