.header {
  background: white;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #b7b7b7;

  @media (--bp-md) {
    height: 78px;
  }
}

.header__bounds {
  width: 100%;
  margin: 0 auto;

  @media (--bp-md) {
    width: 980px;
  }

  @media (--bp-lg) {
    width: 1170px;
  }

  @media (--bp-xl) {
    width: 1324px;
  }
}

.header__brand {
  position: absolute;
  width: 51px;

  @media (--bp-md) {
    width: 70px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}

.header__shortcuts {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 51px;

  @media (--bp-md) {
    display: none;
  }
}

.header__switch {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 51px;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--bp-md) {
    display: none;
  }
}

.header__menu {
  background-color: white;
  width: 100%;
  padding: 3em 1em 1em;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  height: 100vh;

  @media (--bp-md) {
    position: initial;
    padding: 20px 0 0 82px;
    visibility: visible;
    opacity: 1;
    font-size: 13px;
    max-height: 58px;
    text-align: right;
  }

  @media (--bp-lg) {
    font-size: 14px;
  }

  @media (--bp-xl) {
    padding-left: 80px;
  }

  & .button--close {
    @media (--bp-md) {
      display: none;
    }
  }

  & .button--primary {
    margin-left: 12px;
    border: 0 none;
    box-shadow: none;
    font-weight: bold;
    font-family: "Helvetica Neue Condensed", Arial, sans-serif;
    font-size: 16px;

    &:focus {
      color: white;
      text-decoration: none;
    }

    & i {
      margin-right: -7px;
      margin-left: 2px;
    }
  }
}

.navigating .header__menu {
  visibility: visible;
  opacity: 1;
}

.menu__links {
  font-family: "Helvetica Neue Condensed", Arial, sans-serif;

  @media (--bp-md) {
    float: left
  }

  & .nav {

    & > li {
      @media (--bp-md) {
        display: inline-block;
      }

      &.active a {
        color: var(--color-primary);
      }
    }

    & a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: inherit;
      padding-top: 5px;
      padding-bottom: 5px;
      color: var(--color-text);

      @media (--bp-md) {
        padding: 0 6px;
        height: 38px;
        line-height: 39px;
      }

      @media (--bp-lg) {
        padding: 0 11px;
      }

      @media (--bp-xl) {
        padding: 0 12px;
      }

      &:hover {
        background-color: transparent;
        color: var(--color-primary);
      }
    }
  }
}

.menu__actions {
  position: relative;

  @media (--bp-md) {
    float: right;
  }

  & .button {
    text-transform: uppercase;

    @media (--bp-md) {
      width: auto;
      height: 38px;
      line-height: 39px;
      padding: 0 5px;
    }
  }

  & .fence {
    display: none;

    @media (--bp-md) {
      display: inline-block;
      vertical-align: middle;
      height: 22px;
      margin-right: -3px;
    }
  }
}

.switch-language {
  position: relative;

  @media (--bp-md) {
    display: inline-block;
  }

  & > button {
    display: none;

    @media (--bp-md) {
      display: inline-block;
      background: transparent;
      border: 0 none;
      outline: none;
      vertical-align: middle;
    }
  }

  & select {
    appearance: none;
    border: 0 none;
    background: #b6b6b6;
    color: white;
    width: 100%;
    padding: 8px 16px 4px;
    border-radius: 0;
    margin: 4px 0;
    text-transform: uppercase;

    @media (--bp-md) {
      display: none;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    right: 0;
    padding: 10px 0;
    background: white;
    box-shadow: 0 2px 5px;

    & a {
      display: block;
      text-decoration: none;
      padding: 5px 20px;
      line-height: 1;
      font-size: 16px;

      &:hover {
        background-color: var(--color-primary);
        color: white;
      }
    }
  }
}

.switch-language--expanded {
  & .switch-language__dropdown {
    @media (--bp-md) {
      display: block;
    }
  }
}

.header--property {
  & .menu__links {
    & a {
      text-transform: none;
    }
  }
}

#bookButton {
  display: none;

  @media (--bp-md) {
    display: inline-block;
  }
}

#feedbackButton {
  @media (--bp-md) {
    display: none;
  }
}

.site-search {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 40px;

  @media (--bp-md) {
    right: 0;
    top: 57px;
    width: auto;
    background: white;
    padding: 14px 20px;
    border: 1px solid #b7b7b7;
    opacity: 0;
    visibility: hidden;
  }

  &__fields {
    white-space: nowrap;
  }

  & input {
    width: 100%;
    border: 0 none;
    outline: none;
    font-style: italic;
    line-height: 1;

    @media (--bp-md) {
      width: 200px;
      border: 1px solid #b7b7b7;
      line-height: 25px;
      padding: 0 6px;
    }

    &:focus {
      border-bottom: 1px solid #c7c7c7;
    }
  }

  & button {
    display: none;

    @media (--bp-md) {
      display: inline-block;
      color: white;
      background: var(--color-primary);
      border: 1px solid var(--color-primary);
      line-height: 25px;
      outline: none;
      position: relative;
      padding: 0 10px;
    }

    &:before {
      content: '>';
    }
  }
}

.site-search--focused {
  @media (--bp-md) {
    opacity: 1;
    visibility: visible;
  }
}

#searchButton {
  margin-right: -0.25em;
  position: relative;

  &:before {
    @media (--bp-md) {
      width: 20px;
      height: 20px;
    }
  }
}

