.hero {
  margin-top: 50px;
  position: relative;

  @media (--bp-md) {
    margin-top: 50px;
  }

  &__footer {
    position: relative;

    @media (--bp-sm) {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    & .container {
      padding-top: 20px;

      @media (--bp-sm) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }

      &:before, &:after {
        @media (--bp-sm) {
          content: none;
        }
      }
    }
  }

  & .bg {
    padding-bottom: 59%;

    @media (--bp-sm) {
      padding-bottom: 33%;
    }
  }
}


.hero-info {
  @media (--bp-sm) {
    color: white;
  }

  & h2 {
    color: var(--color-text);
    font-size: 30px;

    @media (--bp-sm) {
      color: white;
      margin-top: 0;
    }

    &:after {
      content: none;
    }
  }

  & hr {
    &:before {
      background-color: var(--color-text);
      @media (--bp-sm) {
        background-color: white;
      }
    }
  }

  &--status {
    font-size: 22px;

    & > * {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;

      @media (--bp-sm) {
        margin-right: 0;
        margin-left: 40px;
      }
    }

    & .icon {
      @media (--bp-sm) {
        background-position-y: -34px;
      }
    }
  }

}
