.modal-backdrop.in {
  opacity: 0.8;
}

.modal--compare {
  & .modal-content {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
  }

  & .modal-header {
    border-bottom: 0 none;
  }

  & .modal-body {
    display: flex;
    justify-content: center;

    & .card {
      width: 33%;
      margin: 0 1%;
    }
  }

  & .modal-dialog {
    width: 980px;
  }

  & .modal-title {
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}

