.container {
  @media (min-width: 1400px) {
    width: 1380px;
  }
}

.bg {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 33%;

  @media (--bp-sm) {
    display: none;
  }

  &--sm {
    display: none;

    @media (--bp-sm) {
      display: block;
    }
  }
}

.topbar {
  height: 0;
  overflow: hidden;
  padding-top: 100px;

  @media (--bp-md) {
    height: auto;
    padding-top: 128px;
  }
}

.topbar__social {
  float: right;

  & ul {
    padding-left: 0;

    & li {
      display: inline-block;
      margin: 0 4px;
    }
  }
}

.primary {
  padding-bottom: 4em;

  @media (--bp-md) {
  }
}

.select {
  &--destination {

  }

  &__header {
    position: relative;

    & img {
      width: 100%;
    }

    & span {
      position: absolute;
      top: 0;
      right: 20px;
      background: rgba(255, 255, 255, 0.2);
      font-style: italic;
      line-height: 1;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 0 none;
      font-size: 24px;
      text-shadow: 0 0 6px #6d6d6d;
      width: 60px;
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
    }

    & h4 {
      position: absolute;
      bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
      color: white;
      font-style: italic;
      width: 100%;
    }
  }

  &__body {
    padding: 0 15px;
    font-size: 16px;
    background-color: #f2f2f2;

    & h5 {
      font-style: italic;
      text-transform: uppercase;
      text-decoration: underline;
    }

    & ul {
      padding-left: 0;
      list-style: none;

      & li {
        margin-bottom: 0.5em;
        line-height: 1;
      }

      & a {
        text-transform: uppercase;
      }
    }

    & .brand-1 a { color: var(--color-primary); }
    & .brand-2 a { color: #e9650f; }
    & .brand-3 a { color: #c29213; }
  }
}

.select__category {
  margin-bottom: 10px;
}

.collapsible {
  & .collapsible__body {
    transition: max-height 0.4s, padding 0.2s;
    max-height: 0;
    overflow: hidden;
  }
}

.collapsible--active {
  & .collapsible__body {
    max-height: 20em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.destinations__select--mobile {
  @media (--bp-md) {
    display: none;
  }
}

.hero + .topbar {
  padding-top: 0;

  @media (--bp-md) {
    padding-top: 20px;
  }
}

.expandable-list {
  padding-bottom: 40px;
}

.filter {
  margin-bottom: 20px;

  @media (--bp-sm) {
    text-align: right;
    margin-bottom: 0;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & .button {
    color: var(--color-primary);
    border-color: var(--color-text);
  }

  &__field {
    display: inline-block;
    margin: 0 5px;

    & input[type=text] {
      border: 0 none;
      border-bottom: 1px solid;
      outline: none;
      max-width: 120px;
      font-style: italic;
    }
  }
}

#filter_press_releases {
  & .chosen-drop {
    min-width: auto;
  }
}

.logo-bestprice {
  font-size: 0;
  display: block;
  background-image: url('../img/logo-bestprice-md-an.png');
  width: 182px;
  height: 62px;
  margin: 0 auto;

  @media (--bp-md) {
    margin-left: 0;
  }
}

.special-occasion .logo-bestprice {
  @media (--bp-md) {
    background-image: url('../img/logo-bestprice-an.png');
    width: 120px;
    height: 40px;
    top: 76px;
    float: right;
    position: relative;
    margin-top: -62px;
    margin-right: 20px;
    z-index: 10;
  }
}

.social {
  &--share {
    text-align: center;

    & ul {
      padding-left: 0;

      & li {
        display: inline-block;
        margin: 0 6px;
      }
    }
  }
}

.decor {
  position: relative;
  margin: 20px -15px 20px;

  @media (--bp-sm) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  &:before {
    display: none;
    background-color: #ececec;
    background-image: url('../img/pattern-leaves-flat-an.png');
    background-repeat: no-repeat;
    content: '';
    width: 999em;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 20px;
    z-index: -1;

    @media (--bp-sm) {
      display: block;
      margin-right: -680px;
      background-position: right -140px top;
    }

    @media (--bp-lg) {
      margin-right: -840px;
      background-position: 100% 50%;
    }

    @media (--bp-xl) {
      margin-right: -980px;
    }
  }

  & img {
    width: 100%;
    max-width: 750px;

    @media (--bp-sm) {
      box-shadow: 0 2px 10px;
    }
  }
}

.keypoints {
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;

    @media (--bp-sm) {
      flex-direction: row;
    }

    & li {
      flex: 1 0;
      padding: 0 10px;
      line-height: 1;
      width: 200px;
      height: 121px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @media (--bp-sm) {
        justify-content: flex-start;
      }

      & i {
        display: block;
        margin: 10px auto;
      }
    }
}

.infolist {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (--bp-md) {
    justify-content: flex-start;
  }

  & li {
    text-align: center;
    list-style: none;
    flex-basis: 140px;
    margin-top: 10px;
    margin-bottom: 10px;

    & > .icon {
      display: block;
      margin: 4px auto;
    }
  }

  & p {
    margin-bottom: 0;
  }
}

.spread--amenities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (--bp-sm) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (--bp-md) { max-width: 900px; }
  @media (--bp-lg) { max-width: 1024px; }

  & li {
    flex-basis: 50%;
    display: flex;
    align-items: center;

    @media (--bp-md) {
      flex-basis: 25%;
      width: auto;
      padding-right: 20px;
    }

    & .icon {
      margin-right: 6px;
      flex-shrink: 0;
    }
  }
}

.filterview {
  @media (--bp-md) {
    min-height: 80px;
  }

  &__frame {
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);

    @media (--bp-md) {
      position: fixed;
      left: 0;
      z-index: 9;
      top: 30%;
    }
  }

  &__toggle {

    @media (--bp-md) {
      position: absolute;
      z-index: 1;
      right: 0;
      transform: translateY(-100%);
    }

    & button {
      width: 100%;
      margin-bottom: 0;
      font-style: italic;
      text-transform: none;
      font-size: 18px;
      padding: 14px 30px;
      line-height: 1;
      background: var(--color-primary);
      color: white;

      &:after {
        content: ':';
      }
    }
  }

  &__switches {
    position: absolute;
    top: -62px;
    right: 0;
    border: 1px solid #8a8a8a;
    padding: 10px 12px 10px 6px;

    @media (--bp-md) {
      display: none;
    }

    & button {
      margin: 0 4px;
    }

    & [data-view-type=map] {
      display: none;

      @media (--bp-md) {
        display: inline-block;
      }
    }
  }

  & .filters {
    background-color: white;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: url('../img/pattern-leaves-flat-an.png');
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
    }

    & > * {
      position: relative;
    }
  }
}

.filterview--collapsed {
  & .filterview__frame {
    box-shadow: none;

    @media (--bp-md) {
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }
  }

  & .filterview__toggle {
    position: relative;
    transform: translateY(0);

    & button {
      &:after {
        content: ' >';
      }
    }
  }

  & .filters {
    display: none;
  }
}

.filterview--inline {
  & .filterview__frame {
    @media (--bp-md) {
      position: relative;
      box-shadow: none;
    }
  }

  & .filterview__toggle {
    @media (--bp-md) {
      display: none;
    }
  }

  & .filters {
    @media (--bp-md) {
      padding: 0;
      display: block;
    }

    &:before {
      @media (--bp-md) {
        opacity: 0;
      }
    }

    & .multiselect {
      @media (--bp-md) {
        display: inline-block;
        margin: auto 10px;
      }
    }

    & .toggles {
      margin: 0;
    }

    &__action {
      @media (--bp-md) {
        display: inline-block;
        margin-left: 10px;
      }

      & button {
        font-style: italic;
      }
    }
  }

  & .filterview__switches {
    @media (--bp-md) {
      display: block;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 50px;
    }
  }
}

.filterview--compact {
  display: none;
  @media (--bp-md) {
    display: block;
  }

  & .filters {
    text-align: center;
  }

  & .filterview__switches {
    display: none;
  }
}

.filters {
  text-align: center;
  position: relative;
  padding: 20px;

  @media (--bp-md) {
    text-align: left;
  }

  & .toggles {
    display: inline-block;
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  & .toggle {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

    & input {
      position: absolute;
      left: -100%;

      & + label .icon {
        display: none;
        cursor: pointer;

        &:first-child {
          display: block;
        }
      }
    }

    & label {
      margin-bottom: 0;
    }

    & input:checked {
      & + label .icon {
        &:first-child {
          display: none;
        }
        &:not(:first-child) {
          display: block;
        }
      }
    }
  }

  &__action {
    margin-top: 20px;

    @media (--bp-md) {
      text-align: right;
    }
  }
}

.filters--multiview {
  & .toggles {
    @media (--bp-md) {
      margin-left: 0;
    }
  }
}

.vernacular {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
  top: 0;
  left: 0;
  display: none;

  &__box {
    color: white;
    padding: 120px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 560px;
  }

  & hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  & .chosen-container-single .chosen-single {
    border-color: white;
    color: white;
  }

  & .chosen-container-active.chosen-with-drop .chosen-single {
    box-shadow: none;
  }
}

.tnc {
  &__handle {
    cursor: pointer;
    user-select: none;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid var(--color-primary);
      position: relative;
      top: -0.2em;
      margin-left: 0.4em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__body {
    display: none;
    border: 1px solid #cbcbcb;
    padding: 0 20px;
  }
}

.tnc--expanded {
  & .tnc {
    &__handle {
      &:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid transparent;
        border-bottom: 5px solid var(--color-primary);
      }
    }
    &__body {
      display: block;
    }
  }
}

.location {
  display: flex;

  &__map {
    flex: 1;
    @media (--bp-md) {
      height: 640px;
    }
  }

  &__detail {
    background: #3f3f3f;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: scroll;
    position: relative;
    transition: opacity 0.5s;

    &:not(:empty) {
      height: auto;
      color: white;
      opacity: 1;

      @media (--bp-md) {
        width: 35%;
        height: 640px;
      }
    }

    & button {
      position: absolute;
      top: 20px;
      right: 10px;
    }

    & img {
      width: 100%;
    }

    & article {
      padding: 20px 30px 0;
      line-height: 1.2;
      font-size: 16px;
    }

    & h2 {
      color: white;
    }

    & a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    & ul {
      padding-left: 0;
      list-style: none;

      & li {
        & .icon {
          margin: 5px;
        }
      }
    }

    & footer {
      padding: 0 30px 20px;
    }
  }
}

.directions {
  @media (--bp-md) {
    display: flex;
  }

  & .map {
    @media (--bp-md) {
      height: 640px;
      flex: 1;
    }
  }

  &__detail {
    color: white;
    position: relative;
    background-color: #3f3f3f;
    padding: 30px 20px;

    @media (--bp-md) {
      width: 35%;
    }
  }

  &__more {
    padding: 0px 20px 0 53px;
  }
}

.directions--inline {
  flex-direction: column;
  background-color: #3f3f3f;
  margin-left: -15px;
  margin-right: -15px;

  @media (--bp-sm) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (--bp-lg) { width: 840px; }
  @media (--bp-xl) { width: 990px; }

  & .map {
    @media (--bp-md) {
      height: 500px;
      min-height: 500px;
    }
  }

  & .directions__detail {
    @media (--bp-md) {
      width: 100%;
    }

    & > div {
      @media (--bp-md) {
        float: left;
        width: 50%;
      }
    }

    & .forecasts {
      @media (--bp-md) {
        width: 70%;
      }
    }
  }

  & .forecasts {
    @media (--bp-md) {
      width: 50%;
      clear: both;
    }
  }
}

.direction {
  display: flex;

  &__icon {
    padding: 14px 10px;

    & .icon {
      width: 31px;
      height: 31px;
    }
  }

  &__body {
    font-size: 16px;

    & h5 {
      color: var(--color-primary);
      margin-bottom: 0;
    }

    & ul {
      padding-left: 0;
      list-style: none;

      & li {
        line-height: 1;
        margin-bottom: 16px;
      }
    }
  }
}

.forecasts {
  display: flex;

  & .forecast {
    text-align: center;
    flex: 1;

    &__day {
      color: var(--color-primary);
      font-size: 16px;
    }
  }
}

.popup {
    background-color: white;
    position: relative;
    padding: 20px;

    &:before {
      content: '';
      background: white url(../img/pattern-leaves-flat.png);
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
    }

    & form {
      position: relative;
    }

    & .rfp-box {
      display: inline-block;
      padding: 20px;
      vertical-align: middle;
      line-height: 1.2;

      &:first-child {
        width: 260px;
        text-align: left;
      }

      & h5 {
        font-size: 20px;
        font-weight: normal;

        & a {
          text-decoration: none;
        }
      }

      & button {
        margin: 14px auto;
      }
    }
}

#rfp-popup {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 40px;
  text-align: center;

  & .chosen-container-multi .chosen-choices {
    background-image: none;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  & .chosen-container-active .chosen-choices {
    border-color:#5f9e5f;
    background-color: #f4fff6;
    box-shadow: none;
  }

  & .chosen-container-multi .chosen-choices li.search-choice {
    border-radius: 0;
    background-color: white;
    background-image: none;
  }
}

.switches {
  border: 1px solid #a2a2a2;
  padding: 7px 10px;
  float: right;
  margin-bottom: 20px;
}

.inline-switches {
    height: 0;
    position: relative;
    width: 100%;

    & .switches {
      @media (--bp-md) {
        position: absolute;
        right: 0;
        bottom: 20px;
      }
    }
}

.narrative {
  position: relative;
  margin-bottom: 20px;

  @media (--bp-lg) { width: 840px; }
  @media (--bp-xl) { width: 990px; }

  &:before {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 999em;
    height: 100%;
    z-index: -1;
    background-image: url('../img/pattern-leaves.jpg');
    background-repeat: repeat-x;

    @media (--bp-md) {
      content: '';
    }
  }

  &__media {
    margin-left: -15px;
    margin-right: -15px;
    background-size: cover;
    background-position: 50% 50%;

    @media (--bp-sm) {
      margin-right: 0;
      margin-left: auto;
    }

    @media (--bp-lg) {
      max-width: 53%;
   }

    &:before {
      width: 100%;
      content: '';
      padding-bottom: 60%;
      display: block;
    }
  }

  &__entry {
    position: relative;

    &:before {
      content: '';
      height: 100%;
      z-index: -1;
      display: block;
      position: absolute;
      left: -15px;
      right: -15px;
      top: 0;
      background-image: url('../img/pattern-leaves.jpg');
      background-repeat: repeat-y;
      background-position: 50% 50%;

      @media (--bp-sm) {
        left: 0;
        right: 0;
        background: transparent;
      }
    }

    @media (--bp-lg) {
      padding: 20px;
      position: absolute;
      left: 0;
      width: 47%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__body {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (--bp-md) { font-size: 15px; }
    @media (--bp-lg) { font-size: 18px; }

    & .button {
      text-transform: none;
      color: var(--color-primary);
      border-color: #666;
      font-size: 18px;

      @media (--bp-md) {
        margin-left: 5px;
        margin-right: 5px;
        font-style: italic;
      }
    }

    & .rule {
      text-align: center;
    }
  }
}

.narrative--alt {
  & .narrative__media {
    @media (--bp-lg) {
      margin-left: 0;
    }
  }

  & .narrative__entry {
    left: auto;
    right: 0;
  }
}

.console {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f2f2f2;

  & .button {
    background: white;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  & .img-responsive {
    margin-bottom: 20px;
  }
}

#myModal .modal-content,
#hotelModal .modal-content {
  background: url(../img/pattern-leaves-an.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hotelModal .modal-body {
  padding: 30px;
}

.contact {
  &__details {

    & div {
      &:nth-child(2n+3) {
        @media (--bp-sm) { clear: left; }
        @media (--bp-lg) { clear: none; }
      }

      &:nth-child(3n+4) {
        @media (--bp-lg) {
          clear: left;
        }
      }

    }
  }

  &__detail {
    margin-bottom: 40px;

    @media (--bp-lg) {
      margin-bottom: 30px;
    }

    & ul {
      list-style: none;
      padding-left: 0;
    }

    & dt {
      float: left;
      width: 50%;
      font-weight: normal;
    }
  }
}
